In [1]:
my_list = list()

In [2]:
my_list = []

In [3]:
type(my_list)

list

In [4]:
animals = 'кошка,собака,хомяк,морская свинка,попугай,лошадь'.split(',')

In [5]:
animals = 'кошка,собака,хомяк,морская свинка,попугай,лошадь'.split()

In [6]:
print(animals)

['кошка,собака,хомяк,морская', 'свинка,попугай,лошадь']

In [7]:
animals = ['кошка', 'собака', 'хомяк', 'морская свинка', 'попугай', 'лошадь']
print(animals[0])
print(animals[2])
print(animals[3])

кошка
хомяк
морская свинка

In [8]:
animals = ['кошка', 'собака', 'хомяк', 'морская свинка', 'попугай', 'лошадь']
print(animals[-1])
print(animals[-2])
print(animals[-6])

лошадь
попугай
кошка

In [15]:
OurBestStudents = ['Александр', 'Константин', 'Мария', 'Диана', 'Алексей', 
                   'Максим', 'Светлана', 'Арина', 'Серафим', 'Doomer', 
                   'Павел', 'Виктория', 'Елена', 'Галина', 'Вячеслав']
print(OurBestStudents[-8])

Арина

In [23]:
colors = ['красный', 'оранжевый', 'жёлтый', 'зелёный', 'голубой', 'синий', 'фиолетовый']
print(colors[:3])

['красный', 'оранжевый', 'жёлтый']

In [33]:
body = ['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']
print(body[-7:-5])

['руки', 'ноги']

In [37]:
rabbits = ['Пушок', 'Дружок', 'Мурзик', 'Барсик', 'Эдуард', 'Ушастик', 'Роджер', 'Трус']
print(rabbits[::2])

['Пушок', 'Мурзик', 'Эдуард', 'Роджер']

In [46]:
sparta = ['Иванов', 'Петров', 'Сидоров', 'Зайцев', 'Дятлов', 
          'Козлов', 'Лисичкин', 'Огурцов', 'Капустин', 'Арбузов']
print(sparta[-2:1:-3])

['Капустин', 'Козлов', 'Сидоров']

In [47]:
my_list = [1, 2, 3, 4, 5]
my_list.append(100500)
print(my_list)

[1, 2, 3, 4, 5, 100500]

In [51]:
old_salary = [35000, 50000, 65000, 49000, 55000]
new_salary = []
for salary in old_salary:
    new_salary.append(salary * 1.9)

print(new_salary)

[66500.0, 95000.0, 123500.0, 93100.0, 104500.0]

In [52]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort()
print(my_list)

[10, 29, 31, 65, 87, 90, 100]

In [53]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort(reverse = False)
print(my_list)

[10, 29, 31, 65, 87, 90, 100]

In [54]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort(reverse = True)
print(my_list)

[100, 90, 87, 65, 31, 29, 10]

In [55]:
my_list = ['банан', 'дыня', 'апельсин', 'груша', 'вишня']
my_list.sort(reverse = False)
print(my_list)

['апельсин', 'банан', 'вишня', 'груша', 'дыня']

In [56]:
my_list = ['банан', 'дыня', 'апельсин', 'груша', 'вишня']
my_list.sort(reverse = True)
print(my_list)

['дыня', 'груша', 'вишня', 'банан', 'апельсин']

In [57]:
salary = [100000, 45000, 78000, 29000, 55000, 60000]
lowest_salary = min(salary)
print(lowest_salary)

29000

In [59]:
my_list = []
for number in range(1,11):
    my_list.append(number**2)
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
names = ['Андрей', 'Илья', 'Александр', 'Ипполит', 'Анна', 'Константин', 'Елена', 'Мария']
my_list = []
for name in names:
    my_list.append(len(name))
name_length = min(my_list)
result = my_list.count(name_length)
print(result)

2

In [61]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
print(my_list[2])

97

In [62]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
result = max(my_list) + min(my_list) + my_list.count('batman')
print(result)

399

In [68]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
new_list = my_list[::2]
print(new_list)

[398, 97, 54, 31, 10]

In [69]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
new_list = my_list[::2]
result = 0
for number in new_list:
    result += number
print(result)

590

In [70]:
my_list = [1]
for i in range(10):
    my_list.append(my_list[i] * 2)
my_list.sort(reverse = True)

In [71]:
fruits = 'яблоко банан апельсин баклажан перец помидор арбуз ананас'.split()
my_list = []
for fruit in fruits:
    my_list.append(fruit[0])
my_list.sort()
print(my_list)

['а', 'а', 'а', 'б', 'б', 'п', 'п', 'я']

In [73]:
my_list = []
result = 0
for i in range (0,51,3):
    my_list.append(i)
    result+=i
print(result)

408

In [76]:
raw_list = ['переменные', 'циклы', 'условия', 'списки', 'словари', 'файлы', 'функции']
my_list = []
for word in raw_list:
    my_list.append(len(word))
result = min(my_list) + max(my_list)
print(result)

15

In [79]:
#неверное решение
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
x_min = min(raw_list)
x_max = max(raw_list)

my_list = []
for number in raw_list:
    my_list.append(((number%2==0)*x_min) or((number%2!=0)*x_max))
result = max(my_list)
print(result)

71

In [81]:
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
# Находим минимальное значение этого списка
x_min = min(raw_list)
# Находим максимальное значение этого списка
x_max=max(raw_list)
# Создаем пустой список
my_list=[]
for word in raw_list: #Проходимся по элементам списка raw_list
    if word%2==0: # проверяем, если элемент четный, то добавляем его в новый список, умножая на минимальный элемент
        my_list.append(word*x_min)
    else: # иначе добавляем его в список, умножая на максимальный элемент
        my_list.append(word*x_max) 
result = max(my_list) # Определеяем максимальный элемент нового списка
print(result)

5041

In [82]:
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
x_min = min(raw_list)
x_max = max(raw_list)

my_list = []
for number in raw_list:
    if number%2==0:
        my_list.append(number*x_min)
    else:
        my_list.append(number*x_max)
result = max(my_list)
print(result)

5041

In [2]:
my_list = [x for x in range(1, 25, 2)]
print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [4]:
my_list = []
for x in range (1,25,2):
    my_list.append(x)
print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [5]:
my_list = [x for x in range(10, 100) if x%3 == 0 and x%5 == 0]

In [6]:
my_list

[15, 30, 45, 60, 75, 90]

In [7]:
powers = [x**y for x in range(1, 10) for y in [2,10]]

In [9]:
powers

[1,
 1,
 4,
 1024,
 9,
 59049,
 16,
 1048576,
 25,
 9765625,
 36,
 60466176,
 49,
 282475249,
 64,
 1073741824,
 81,
 3486784401]

In [10]:
numbers = [x*y for x in range(1, 10) for y in [3, 5, 7]]
numbers

[3,
 5,
 7,
 6,
 10,
 14,
 9,
 15,
 21,
 12,
 20,
 28,
 15,
 25,
 35,
 18,
 30,
 42,
 21,
 35,
 49,
 24,
 40,
 56,
 27,
 45,
 63]

In [11]:
numbers = [x*y for x in range(1, 10) for y in [3, 5, 7]]
numbers

[3,
 5,
 7,
 6,
 10,
 14,
 9,
 15,
 21,
 12,
 20,
 28,
 15,
 25,
 35,
 18,
 30,
 42,
 21,
 35,
 49,
 24,
 40,
 56,
 27,
 45,
 63]

In [12]:
numbers = [x for x in range(3,100) if [x%y for y in range(2,x)].count(0) == 0]
numbers

[3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [16]:
my_list = [x**0.5 for x in range(1,50) if x%7==0]
my_list

[2.6457513110645907,
 3.7416573867739413,
 4.58257569495584,
 5.291502622129181,
 5.916079783099616,
 6.48074069840786,
 7.0]

In [14]:
my_list = []
for x in range(1, 50):
    if x%7 == 0:
        my_list.append(x**0.5)
my_list

[2.6457513110645907,
 3.7416573867739413,
 4.58257569495584,
 5.291502622129181,
 5.916079783099616,
 6.48074069840786,
 7.0]

In [19]:
my_list = [x//10 + x%10 for x in range(90,100)]
my_list

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [20]:
phones = [['+79033923029', 'Мария Никитина'], ['+78125849204', 'Егор Савичев'], ['+79053049385', 'Александр Пахомов'], ['+79265748370', 'Алина Егорова'], ['+79030598495', 'Руслан Башаров']]
phones

[['+79033923029', 'Мария Никитина'],
 ['+78125849204', 'Егор Савичев'],
 ['+79053049385', 'Александр Пахомов'],
 ['+79265748370', 'Алина Егорова'],
 ['+79030598495', 'Руслан Башаров']]

In [21]:
phones=['+79033923029', '+78125849204', '+79053049385', '+79265748370', '+79030598495']
phones

['+79033923029',
 '+78125849204',
 '+79053049385',
 '+79265748370',
 '+79030598495']

In [25]:
employee_base = {
    'Мария Никитина': '+79033923029',
    'Егор Савичев': '+78125849204',
    'Александр Пахомов' :'+79053049385',
    'Алина Егорова': '+79265748370',
    'Руслан Башаров' : '+79030598495'
}
print(employee_base['Мария Никитина'])

+79033923029

In [26]:
employee_base = {
    'Мария Никитина': '+79033923029',
    'Егор Савичев': '+78125849204',
    'Александр Пахомов' :'+79053049385',
    'Алина Егорова': '+79265748370',
    'Руслан Башаров' : '+79030598495'
}
print(employee_base['Алина Егорова'])

+79265748370

In [27]:
request = ['Мария Никитина', 'Егор Савичев', 'Алексей Чернышевский']
for name in request:
    print(employee_base[name])

+79033923029
+78125849204

KeyError: 'Алексей Чернышевский'

In [28]:
request = ['Мария Никитина', 'Егор Савичев', 'Алексей Чернышевский']
for name in request:
    if name in employee_base:
        print(employee_base[name])
    else:
        print('Неизвестный сотрудник')

+79033923029
+78125849204
Неизвестный сотрудник

In [32]:
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
group = draw_dict[country]
request = ['Италия']
for country in request:
    if country in draw_dict:
    print(draw_dict[group])
else:
    print('unknown')

IndentationError: expected an indented block (<ipython-input-32-cbe7fde337ce>, line 12)

In [33]:
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
country = 'Италия'
if country in draw_dict:
    group=draw_dict[country]
else:
    group = 'unknown'

In [34]:
simple_dict = {'a': 1}
simple_dict.setdefault('b', 0)
print(simple_dict)

{'a': 1, 'b': 0}