# PYTHON 11. Feature Engineering 
## Юнит 3. Введение в машинное обучение 
### Skillfactory: DSPR-19

### 5.1 Пропущенные значения

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
log = pd.read_csv('log.csv')
log

,Запись пользователя № - user_919,[2019-01-01 14:06:51,Unnamed: 2,Unnamed: 3
0,Запись пользователя № - user_973,[2019-01-01 14:51:16,NaN,NaN
1,Запись пользователя № - user_903,[2019-01-01 16:31:16,NaN,NaN
2,Запись пользователя № - user_954,[2019-01-01 17:17:51,NaN,NaN
3,Запись пользователя № - user_954,[2019-01-01 21:31:18,NaN,NaN
4,Запись пользователя № - user_917,[2019-01-01 23:34:55,156789.0,NaN
...,...,...,...,...
994,Запись пользователя № - user_984,[2019-04-20 9:59:58,9754.0,NaN
995,#error,NaN,10054.0,29265.0
996,#error,NaN,10454.0,NaN
997,#error,NaN,1000.0,NaN
998,#error,NaN,10754.0,NaN

In [3]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']

In [4]:
#log = pd.read_csv('log.csv', header=None)
#log.columns = ['user_id','time','bet','win']
#log = log[~log.user_id.str.contains('#error', na=False)]
#log['user_id'] = log['user_id'].map(lambda x: str(x)[24:])
#log['time']=log['time'].str.replace('[', '')
#log

In [5]:
log.head().isna()

   user_id   time   bet   win
0    False  False  True  True
1    False  False  True  True
2    False  False  True  True
3    False  False  True  True
4    False  False  True  True

### Задание 11.1.1
Посчитайте количество пропусков в столбце time. Метод isna() есть не только у DataFrame, но и у Series. Это значит, что применять его можно не только ко всей таблице, но и к каждому столбцу отдельно.

In [6]:
temp_time = len(log[log['time'].isna()])

task = "11.1.1"
print(f"Ответ к заданию {task}")
print(f"количество пропусков в столбце time = {round(temp_time,0)}")

Ответ к заданию 11.1.1
количество пропусков в столбце time = 15

### Задание 11.1.2
Удалите все столбцы, где есть пропуски. Запишите в поле, сколько осталось столбцов в данных после этого.
Используйте оригинальный датасет log.csv.

In [7]:
log = pd.read_csv('log.csv')
log

,Запись пользователя № - user_919,[2019-01-01 14:06:51,Unnamed: 2,Unnamed: 3
0,Запись пользователя № - user_973,[2019-01-01 14:51:16,NaN,NaN
1,Запись пользователя № - user_903,[2019-01-01 16:31:16,NaN,NaN
2,Запись пользователя № - user_954,[2019-01-01 17:17:51,NaN,NaN
3,Запись пользователя № - user_954,[2019-01-01 21:31:18,NaN,NaN
4,Запись пользователя № - user_917,[2019-01-01 23:34:55,156789.0,NaN
...,...,...,...,...
994,Запись пользователя № - user_984,[2019-04-20 9:59:58,9754.0,NaN
995,#error,NaN,10054.0,29265.0
996,#error,NaN,10454.0,NaN
997,#error,NaN,1000.0,NaN
998,#error,NaN,10754.0,NaN

In [8]:
temp = len(log.dropna(axis=1).columns)
temp

1

### Задание 11.1.3
Удалите все строки, где есть пропуски. Запишите в поле, сколько осталось строк в данных после этого. Используйте оригинальный датасет log.csv.

In [9]:
log = pd.read_csv('log.csv')
log

,Запись пользователя № - user_919,[2019-01-01 14:06:51,Unnamed: 2,Unnamed: 3
0,Запись пользователя № - user_973,[2019-01-01 14:51:16,NaN,NaN
1,Запись пользователя № - user_903,[2019-01-01 16:31:16,NaN,NaN
2,Запись пользователя № - user_954,[2019-01-01 17:17:51,NaN,NaN
3,Запись пользователя № - user_954,[2019-01-01 21:31:18,NaN,NaN
4,Запись пользователя № - user_917,[2019-01-01 23:34:55,156789.0,NaN
...,...,...,...,...
994,Запись пользователя № - user_984,[2019-04-20 9:59:58,9754.0,NaN
995,#error,NaN,10054.0,29265.0
996,#error,NaN,10454.0,NaN
997,#error,NaN,1000.0,NaN
998,#error,NaN,10754.0,NaN

In [10]:
temp = len(log.dropna())
temp

133

### Задание 11.1.4
Используйте оригинальный датасет log.csv.  
С данными в столбцах bet и win мы разберемся позже: пропуски в этих столбцах требуют особого подхода.  
А сейчас:  
если есть пропуски в столбце user_id - удалите столбец user_id,  
если есть пропуски в столбце time - удалите столбец time.  
Запишите в поле ответа, количество оставшихся столбцов в данных, после этих действий.

In [11]:
log = pd.read_csv('log.csv')
log = pd.read_csv('log.csv', header=None)
log

                                    0                     1        2        3
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN      NaN
..                                ...                   ...      ...      ...
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0      NaN
996                            #error                   NaN  10054.0  29265.0
997                            #error                   NaN  10454.0      NaN
998                            #error                   NaN   1000.0      NaN
999                            #error                   NaN  10754.0      NaN

[1000 rows x 4 columns]

In [12]:
new = log.loc[:,[0,1]]

temp = len(log.drop(columns=new.columns[new.isna().sum() >0]).columns)
temp

3

### 11.2. Дубли
---
### Задание 11.2.1  
Удалите дубли среди столбцов user_id и time. Запишите в поле ниже, сколько осталось строк после удаления дублей. Используйте оригинальный датасет log.csv.

In [13]:
log = pd.read_csv('log.csv')
log = pd.read_csv('log.csv', header=None)
# добавим названия колонок user_id, time, bet, win
log.columns = ['user_id', 'time', 'bet', 'win']
temp = len(log.drop_duplicates(subset=['user_id','time']))
temp

986

### 11.3 Преобразование к datetime
---
### Задание 11.3.1
Уберите лишний символ, преобразуйте признак time к datetime. После этого найдите наибольшую дату и выведите ее без времени.  
Подсказка: можно применить метод max() к получившемуся столбцу со временем.  
Не забудьте избавиться от пропусков.  
Запишите ответ в формате "YYYY-MM-DD".

In [14]:
log = pd.read_csv("log.csv", header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.time = log.time.apply(lambda x: x[1:] if type(x) == str else x)

log.dropna(inplace=True)
log.drop_duplicates(inplace=True)

temp = pd.to_datetime(log.time).max()
temp

Timestamp('2019-04-20 12:55:41')

### Задание 11.3.2
Посмотрите на изображение и код выше. Какую строчку надо написать вместо пропущенной строки, чтобы получить вывод как на изображении?

In [15]:
log = pd.read_csv("log.csv")  
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']  
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])  
# Пропущенная строка  
log.time = log.time.apply(lambda x: x.minute)
# Правильных ответа два: строка выше, а также ниже
#log['time'] = log.time.apply(lambda x: x.minute)

log['time'].head()

13     57
28     59
150    54
188    34
204    26
Name: time, dtype: int64

### 11.4 Извлечение признаков времени

### задание 11.4.1 
Найдите минуту, которая встречалась в данных чаще всего

In [16]:
log = pd.read_csv("log.csv")  
log = log.dropna()  
log.columns = ['user_id', 'time', 'bet', 'win']  
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time']) 

temp = log['time'].dt.minute.value_counts().index[0]
temp

36

### Задание 11.4.2
Используйте оригинальные данные log.csv, столбец time.  
Подсказка: можно использовать value_counts().  
Найдите месяц, который встречался в данных реже всего.

In [17]:
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']  
log = log.loc[~log.time.isna()]
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time']) 
log_month = log['time'].dt.month


temp = log_month.value_counts(ascending=True).index[0]
temp

4

## Задание 11.4.3*
Используйте оригинальные данные log.csv, столбец time.  
Подсказка: можно использовать sum().  
Посчитайте, сколько дней в данных являются выходными (то есть субботой или воскресеньем).

In [18]:
log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']  
log = log.loc[~log.time.isna()]
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time']) 

temp = log.time.dt.weekday.apply(lambda x: 1 if x in [5,6] else 0).sum()
temp

283

### Задание 11.4.4*
Используйте оригинальные данные log.csv, столбец time.  
Подсказка: можно использовать value_counts(). Кроме этого, потребуется написать функцию, которая преобразует дату во время дня.  
Договоримся, что с 0 до 5 часов - ночь, с 6 до 11 - утро, с 12 до 17 - день, с 18 до 23 - вечер.  
Важно: для выполнения задания вам нужно будет избавиться от пропусков только в столбце time. Вспомните, как избавиться от пропусков только по конкретному признаку.  

Посчитайте, какое время дня встречается в данных реже всего. Введите ответ в поле ниже: ночь, утро, день или вечер.

In [19]:
def time_of_the_day (time_x):
    if 0 <= time_x <= 5:
        return "ночь"
    elif 6 <= time_x <= 11:
        return "утро"
    elif 12 <= time_x <= 17:
        return "день"
    else:
        return "вечер"

log = pd.read_csv("log.csv")  
log.columns = ['user_id', 'time', 'bet', 'win']  
log = log.loc[~log.time.isna()]
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])

temp = log.time.apply(lambda x: time_of_the_day(x.hour)).value_counts(ascending=True).index[0]
temp

'вечер'

### Задание 11.4.5 
Напишите код, который создаст признак hour из признака time в датасете log.csv.   
Для этого:  
1. загрузите датасет log.csv в переменную log, дальше работать будем с ней;  
2. установите имена столбцов: ['user_id', 'time', 'bet', 'win'];  
3. избавьтесь от пропусков в log;  
4. приведите переменную time к подходящему для извлечения признаков виду;  
5. получите значение часа для каждой строки в переменной time и запишите в столбец hour в log.  
Результатом будет таблица log со столбцом hour внутри.

In [20]:
log = pd.read_csv("log.csv", header=None)  
log.columns = ['user_id', 'time', 'bet', 'win']  
log.dropna(inplace=True)
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])
log['hour'] = log.time.apply(lambda x: x.hour)

In [21]:
log = pd.read_csv("log.csv", header=None)  
log.columns = ['user_id', 'time', 'bet', 'win']  
log.dropna(inplace=True)
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])
log['hour'] = log.time.dt.hour
log

,user_id,time,bet,win,hour
14,Запись пользователя № - user_917,2019-01-02 08:57:36,145732.0,1987653.0,8
29,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0,13
151,Запись пользователя № - user_982,2019-01-16 21:54:22,100.0,4749.0,21
189,Запись пользователя № - user_964,2019-01-21 18:34:44,200.0,4667.0,18
205,Запись пользователя № - user_931,2019-01-22 05:26:59,300.0,4319.0,5
...,...,...,...,...,...
967,Запись пользователя № - user_975,2019-04-19 22:25:15,1000.0,6108.0,22
971,Запись пользователя № - user_912,2019-04-20 10:35:49,10554.0,31799.0,10
972,Запись пользователя № - user_926,2019-04-20 10:35:50,10354.0,30244.0,10
976,Запись пользователя № - user_970,2019-04-20 10:35:54,10354.0,30691.0,10
991,Запись пользователя № - user_965,2019-04-20 12:55:41,800.0,6927.0,12

### 11.5 Снова смотрим на пропуски
---
### Задание 11.5.1
Используйте оригинальный датасет log.csv. Результат запишите числом в поле ниже.  
Подсказка: можно использовать value_counts().  
Посчитайте, сколько раз люди приходили, но не делали ставок. Для этого заполните пропуски в столбце bet значением 0 и посчитайте количество таких значений.

In [22]:
log = pd.read_csv('log.csv', header=None)  
log.columns = ['user_id', 'time', 'bet', 'win']  
log.bet = log['bet'].fillna(0)  

temp = len(log.loc[log.bet == 0])
temp

515

### Задание 11.5.2 
Используйте оригинальный датасет log.csv. Проделайте с ним действия из задания 11.5.1  
Подсказка: можно использовать sum().  

Посчитайте, сколько раз участники ставок проиграли деньги. То есть посчитайте количество строк, для которых в столбце win находится отрицательное значение.

In [23]:
log = pd.read_csv('log.csv', header=None)  
log.columns = ['user_id', 'time', 'bet', 'win']  
log.bet = log['bet'].fillna(0) 

def fillna_win(row):
    if row.win > 0:
        return row.win
    elif row.bet==0:
        row.win=0
        return row.win
    elif row.bet>0 and ~(row.win>0):
        return - row.bet

new_win = log.apply(lambda row: fillna_win(row), axis=1)

temp = (new_win<0).sum()
temp

347

### 11.6 Есть ли смысл играть?

### Задание 11.6.1 
Создайте признак net, хранящий сумму выигрыша с учетом ставки. Для этого из признака win поэлементно вычтите признак bet и запишите в новый столбец. После этого посчитайте, у скольких людей выигрыш положительный.

In [24]:
log['net'] = log['win'] - log['bet']
(log.net >0).sum()
temp = (log.net >0).sum()
task = "5.6.1"
print(f"Ответ к заданию {task}")
print(f"выигрыш положительный у {temp} людей")
print()
print(f"выигрыш отрицательный у {(log.net <0).sum()} людей")
print(f"выигрыш равен нулю у {(log.net ==0).sum()} людей")

Ответ к заданию 5.6.1
выигрыш положительный у 138 людей

выигрыш отрицательный у 0 людей
выигрыш равен нулю у 0 людей

### Задание 11.6.2
Используйте датасет log.csv, получившийся в результате выполнения предыдущего задания.  
**Посчитайте среднее значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0**. Результат округлите до целого, отбросив дробную часть.  
Подсказка: можно использовать mean().

In [25]:
temp = log.net.loc[log.net >0].mean()
round(temp, 0)

80253.0

### Задание 11.6.3
Используйте датасет log.csv, получившийся в результате выполнения первого задания этого блока. **Посчитайте медианное значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0**. Результат округлите до целого, отбросив дробную часть.

Подсказка: можно использовать median().

In [26]:
temp = log.net.loc[log.net >0].median()
round(temp, 0)

5347.0

### Задание 11.6.4
Как можно посчитать среднее значение для столбца bet, не учитывая при подсчете пропуски?  
***Ответ:***  
- верно - log.bet.mean()
  - ***не верно*** - log.bet.mean(skipna=False)
  - ***не верно*** - pd.mean(log['bet'[)
- верно - log.bet.sum() / log.bet.dropna().shape[0[
- верно - np.mean(log.bet)
- верно - log['bet'[.dropna().mean()

### 11.7 Сколько можно выиграть/проиграть?

### Задание 11.7.1
Используйте модифицированный исходный датасет log.csv.  
При модификации датасета log.csv, пропущенные значения в столбцах bet и win замените на 0, cоздайте столбец net, хранящий сумму выигрыша с учетом ставки (для этого из столбца win поэлементно вычтите столбец bet и запишите в новый столбец).  
Посчитайте, какой процент посещений букмекерской конторы оборачивался ставкой. Для этого поделите количество ставок (значений больше 0) на общее количество посещений конторы.  
Результат округлите до одного знака после запятой.

In [27]:
log = pd.read_csv('log.csv', header=None)  
log.columns = ['user_id', 'time', 'bet', 'win']  
log['bet']=log['bet'].fillna(0)
log['win']=log['win'].fillna(0)
log['net'] = log.win-log.bet

temp = (log.bet>0).mean()
print(f"{round(temp*100,1)}%")

48.5%

### Задание 11.7.2
Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.  
Посчитайте среднее значение ставки (из столбца bet) в тех случаях, когда ставка была сделана. Результат округлите до целого, отбросив дробную часть.
Подсказка: можно использовать mean().

In [28]:
temp = int(log[log.bet > 0].bet.mean())
temp

6785

### Задание 11.7.3
Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.  
Посчитайте средний выигрыш (из столбца **net**) в тех случаях, когда ставка была сделана. Результат округлите до целого, отбросив дробную часть.  
Пояснение: выигрыш в данном случае означает изменение количества денег и может быть отрицательным. В таком случае это проигрыш.  
Подсказка: можно использовать mean().

In [29]:
temp = int(log[log.bet > 0].net.mean())
temp

20421

### Задание 11.7.4  
Используйте датасет log.csv, получившийся в результате модификации при выполнении первого задания этого блока.  
Посчитайте среднюю сумму потерь при проигрыше (из столбца net). Результат округлите до целого, отбросив дробную часть.  
Пояснение: ответ должен быть дан в виде отрицательного числа.  
Подсказка: можно использовать mean().

In [30]:
temp = int(log[log.net < 0].net.mean())
temp

-3372

### Задание 11.7.5
Посчитайте, какой процент ставок заканчивается выигрышем, а какой - проигрышем. Сравните эти значения и ответьте, какое из них больше.  
Выберите пункт из списка ниже.  
***Ответ:*** Проигрыш

In [31]:
temp1 = len(log[(log.bet > 0) & (log.net>0)])
temp2 = len(log[(log.bet > 0) & (log.net<0)])

print(f"кол-во ставок заканчивается выигрышем {temp1} раз")
print(f"кол-во ставок заканчивается проигрышем {temp2} раз")

кол-во ставок заканчивается выигрышем 138 раз
кол-во ставок заканчивается проигрышем 347 раз

### Задание 11.7.6*
Давайте повторим то, что мы прошли в этой секции. Напишите код, который узнает, чему была равна минимальная ставка и сколько людей сделали такую ставку. Для этого:  
1. загрузите датасет log.csv;  
2. посчитайте, чему равна минимальная ставка;  
3. посчитайте, сколько раз была сделана минимальная ставка, и запишите результат в переменную min_bet_amount в виде целого числа.

In [32]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
min_bet = log.min()[1]
min_bet_amount = int(len(log[log.bet == min_bet]))

### 11.8 Повторение merge/groupby

In [34]:
# Повторим часть предобработки
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']

log.bet = log['bet'].fillna(0)
log.win = log['win'].fillna(0)
log['net'] = log.win-log.bet

us = pd.read_csv('users.csv',  sep='\t', encoding='KOI8-R')
us.columns = ['user_id', 'email', 'geo']

# повторим часть предобработки, которую мы выполняли ранее
# приведем признак user_id к одному формату в обоих датасетах  
us.user_id = us.user_id.apply(lambda x: x.lower())  

# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1]) 
df = pd.merge(us, log, on='user_id')

### Задание 11.8.1
Объедините датасеты log.csv и users.csv по признаку user_id по примеру выше. Ответ запишите в поле ниже.  
Запишите количество строк в получившейся таблице.

In [35]:
len(df)

975

In [36]:
df.groupby('user_id').win.median().median()
# В данном случае мы группируем данные по признаку user_id.
# После этого мы в каждой группе выбираем признак win.
# Затем мы берем медиану каждой группы по признаку win и на выходе получаем таблицу, 
# в которой индексом является признак user_id. 
# В этой таблице единственный столбец - медиана по каждой группе 
# (то есть по каждому пользователю).Наконец, последний вызов median() дает нам 
# медиану по предыдущему столбцу, то есть возвращает одно число

0.0

### 11.9 Анализ по пользователям

### Задание 11.9.1
Используйте датасет, который получился в результате всех преобразований выше (в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа (отбросьте дробную часть).  
Посчитайте медиану баланса по каждому пользователю. Для этого сгруппируйте по пользователям, возьмите признак net, просуммируйте по каждому пользователю и получите медиану.

In [37]:
temp = int(df.groupby('user_id').net.sum().median())
temp

1986

### Задание 11.9.2*

Используйте датасет, который получился в результате всех преобразований выше (в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа (отбросьте дробную часть).  
Сколько раз в среднем каждый человек приходит, не делая ставок, при условии, что у этого человека все-таки есть хотя бы одна ставка? Например: Человек посетил букмекерскую контору 5 раз из них 1 раз сделал ставку, 4 раза нет - условие выполняется. Человек посетил букмекерскую контору 5 раз из них ни разу ставку не сделал - условие не выполняется. Для того, чтобы узнать это, просуммируйте в каждой группе количество записей со ставкой, равной 0, и поделите на общее количество групп. Если при этом в группе нет записей со ставкой больше 0, считаем количество записей в данной группе равным 0.

In [38]:
# суммируем в каждой группе количество записей со ставкой, равной 0
temp1 = df[df.bet == 0].groupby('user_id').bet.count().sum()

# общее количество групп
temp2 = df['user_id'].nunique()

temp = int(temp1/temp2)
temp

5

### Задание 11.9.3**

Используйте датасет, который получился в результате всех преобразований выше (в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа - количества дней.  
Сколько в среднем времени проходит между появлением человека в сервисе и первой ставкой? Считать нужно только тех, кто делал ставку. Для того, чтобы узнать это, напишите метод, считающий минимальное время среди ставок, равных 0, и минимальное время среди ставок больше 0. После этого верните разницу между вторым и первым числом. Пройдитесь по всем группам в цикле. Если в группе нет ставок больше 0, пропустите эту группу. Просуммируйте разницу во времени для каждой группы (с помощью метода, описанного выше) и поделите на количество групп, которые вы не пропустили.

In [40]:
# уберём начальную скобку из поля time
df.time = df.time.apply(lambda x: x[1:] if type(x) == str else x)

# переведем в формат времени
df['time'] = pd.to_datetime(df['time'])

# создадим датафрейм с минимальным временем по группам с нулевыми ставками
df_mintime_betisnull = df[df.bet == 0].groupby('user_id').time.min()

# создадим датафрейм с минимальным временем по группам с НЕнулевыми ставками
df_mintime_betisnotnull = df[df.bet > 0].groupby('user_id').time.min()

# объединяем 
df_time = pd.merge(df_mintime_betisnull, df_mintime_betisnotnull, on='user_id')

# создаем новый столбец с разницей по времени
df_time['time_diff'] = df_time['time_y'] - df_time['time_x']

# считаем среднее по разнице в днях
temp = df_time.time_diff.mean().days
temp

46

### 11.10 Анализ по городам

### Задание 11.10.1
Используйте датасет, который получился в результате всех преобразований в прошлой секции (в том числе, заполнение пропусков).  
Ответ запишите в поле ниже в виде одного слова, с большой буквы.  
Наибольший суммарный выигрыш среди всех городов имеет Москва. Посчитайте следующий за ней город. Для этого сгруппируйте по городам, возьмите признак win, просуммируйте по каждому городу, отсортируйте и получите второй город.

In [41]:
temp = df.groupby('geo').win.sum().sort_values(ascending=False).index[1]
temp

'Воронеж'

### Задание 11.10.2*

Используйте датасет, который получился в результате всех преобразований в прошлой секции (в том числе, заполнение пропусков).  
Ответ запишите в поле ниже в виде целого числа (нужно отбросить дробную часть).  
Подсказка: можно использовать методы min() и max().  
Во сколько раз различаются в среднем максимальная и минимальная ставки по городам? Для того, чтобы это посчитать, нужно сгруппировать по городам, взять среднее от признака bet, найти максимальное и минимальное значения, затем поделить одно на другое.

In [45]:
min_meanbet = df.groupby('geo').bet.mean().min()
max_meanbet = df.groupby('geo').bet.mean().max()
result = int(max_meanbet/min_meanbet)
result

227

### Задание 11.10.3

Давайте повторим все, что мы прошли в этой секции. Напишите код, который посчитает, сколько раз пользователи приходили в букмекерскую контору в каждом городе. Для этого:  
1. загрузите датасеты log.csv и users.csv;  
2. удалите user_id с ошибкой (#error) и приведите признак user_id к одному виду в обоих датасетах;  
3. слейте два датасета в один по признаку user_id;  
4. сгруппируйте данные по правильному признаку (какому - вам нужно понять самим), затем выберите user_id и воспользуйтесь функцией count() для подсчета наблюдений в каждой группе;  
5. результат (таблицу) запишите в sample2.

In [44]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']
log.bet = log['bet'].fillna(0)
log.win = log['win'].fillna(0)
log['net'] = log.win -log.bet

us = pd.read_csv('users.csv', sep='\t', encoding='KOI8-R')
us.columns = ['user_id', 'email', 'geo']

us.user_id = us.user_id.apply(lambda x: x.lower())    
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  

df = pd.merge(us, log, on='user_id')

sample2 = df.groupby('geo').user_id.count()

### 11.12 Итоговый тест


### Задание 1
Какой метод в pandas используется для поиска пропусков?  
***Ответ:*** isna()

### Задание 2
В методе dropna() можно удалять пропуски, двигаясь по конкретной оси. Какое значение параметра axis нужно задать, чтобы удалить все строки с пропусками?   
***Ответ:*** axis=0 

### Задание 3
В pandas мы используем метод pd.drop_duplicates() для удаления дублей. Если мы хотим удалить дубли только по конкретным столбцам, что мы должны передать в параметр subset?  
***Ответ:*** Названия столбцов, которые нужно удалить

### Задание 4
Как можно превратить столбец с датами (уже преобразованными с помощью to_datetime) в столбец с месяцами?  
***Ответ:*** 
- log['time'[.apply(lambda pandas_dataframe: pandas_dataframe.month)
- log.time.dt.month 

### Задание 5
В каком порядке value_counts() сортирует значения на выходе?  
***Ответ:*** По убыванию 

### Задание 6
С помощью какого метода можно заполнить пропуски константой?  
***Ответ:*** fillna() 

### Задание 7
Зачем нужен метод merge?  
***Ответ:*** Чтобы объединить таблицы (в стиле join из SQL) по признаку в параметре on 

### Задание 8
Зачем нужен метод groupby()?  
***Ответ:*** Метод groupby() нужен, чтобы сгруппировать данные по какому-то признаку, который передается как аргумент в этот метод