# Подзапросы 
## Юнит 5. РАБОТА С БАЗАМИ ДАННЫХ. SQL
### Skillfactory: DSPR-19

### 5.1. EXISTS

Вы уже научились фильтровать одну таблицу по данным другой, используя оператор JOIN. Однако синтаксис SQL позволяет непосредственно в разделе where обращаться к полям другой таблицы. Для этого существует несколько основных способов.

Первый из них — ключевое слово EXISTS. EXISTS возвращает true, если результатом запроса является хотя бы одна строка, и false, если не существует ни одной.

Давайте разберем на примере. Предположим, нам нужно найти все штаты, в которых была совершена хотя бы одна доставка. Для начала выполните это задание, используя JOIN.  

### Задание 5.1.1
Напишите запрос, который в алфавитном порядке выводит названия штатов, где были совершены доставки.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select distinct c.state 
from shipment s 
left join city c on c.city_id = s.city_id 
order by 1

/* select distinct state
from shipping.city c
where exists (
select *
from shipping.shipment s
where s.city_id = c.city_id )
order by 1 */

**Как работает EXISTS?**  
Чтобы превратить наш запрос в противоположный, то есть вывести штаты, в которых есть города без доставок, нужно написать перед словом EXISTS слово NOT, которое позволит отфильтровать города без доставок:

In [ ]:
SELECT 
        distinct state
from 
        shipping.city c
where 
        exists 
                (
                    select 
                        *
                    from 
                        shipping.shipment s 
                    where 
                        s.city_id = c.city_id
                    )
order by 1

Давайте разберем этот код по частям.

Все части первого SELECT выглядят как обычно, кроме того, что в разделе WHERE после EXISTS идет другой запрос. Внутри этого запроса неважен список полей: в нем будет считаться только количество строк в результате, с учетом условия s.city_id = c.city_id, т. е. в таблице доставок будет проверяться наличие доставок в конкретный город.

Условие, как обычно, необязательно должно быть равенством, главное — чтобы результат его имел логический тип. Функция проверки условия выполняется для каждой строки и, как и в случае с INNER JOIN, остаются только те города, в которых были доставки. Из них мы и выбираем уникальные названия штатов.

При этом выносить условие поиска из подзапроса нельзя, т. к. таблица shipment не видна в рамках основного select. Следующий запрос не будет работать и вернет ошибку "SQL Error [42P01]: ERROR: missing FROM-clause entry for table "s"".

### Задание 5.1.2
Напишите запрос, который выводит все схемы и названия таблиц в базе, в которых нет первичных ключей. Отсортируйте оба столбца в алфавитном порядке (по возрастанию).

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select
    t.table_schema,
    t.table_name
from information_schema.tables t
where
    not exists(
select *
from information_schema.table_constraints c
where c.table_schema = t.table_schema
    and c.table_name = t.table_name
    and c.constraint_type IN ('PRIMARY KEY')
    )
order by 1, 2

**Преимущества EXISTS**  
Помимо использования EXISTS в WHERE, его результат также можно вывести в самом результате запроса. Это позволит нам использовать результат позже.

Попробуйте в Metabase! Например, мы можем разметить все города по наличию в них заказов следующим образом:

In [ ]:
SELECT 
        city_name,
        exists 
            (
                select 
                    *
                from 
                    shipping.shipment s 
                where 
                    s.city_id = c.city_id
                ) has_shipments
from 
        shipping.city c
order by 1

Столбец has_shipments содержит логическое поле с результатом проверки наличия в конкретном городе доставок. Столбцы, содержащие подобные логические значения, старайтесь именовать понятно и согласно правилам английского языка: либо has_<свойство>, либо is_<свойство>.

EXISTS синтаксически более понятен в случае фильтрации. Помимо этого он часто работает быстрее JOIN, т. к. не требуется проверять все записи вложенного запроса на соответствие условию: при встрече хотя бы одной удовлетворяющей строки он возвращает true  и далее не сканирует таблицы.

Это очень удобно в случае поиска каких-то свойств для маленького справочника на основе большой таблицы с событиями. Например, EXISTS будет удобен для таблицы с партнерами, содержащей немного записей. Проверить наличие заходов на вебсайт конкретным партнером будет быстрее через EXISTS, чем через LEFT JOIN.

### Задание 5.1.3
Напишите запрос, который выводит названия всех городов и булевы поля, показывающие наличие клиентов, наличие водителей и наличие доставок в этом городе. Добавьте сортировку по названию городов.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select 
c.city_name
, exists(
select * 
from customer c2 
where c2.city_id  = c.city_id 
) has_customer
, exists(
select * 
from driver d2 
where d2.city_id  = c.city_id 
) has_driver
, exists(
select * 
from shipment s2 
where s2.city_id  = c.city_id 
) has_customer
from city c 
order by 1

### 5.2. IN

Используя подзапросы, можно также фильтровать значения в конкретном столбце, используя предикат IN.

Следующий запрос выведет все штаты, в которых есть водители с указанным номером телефона.

In [ ]:
SELECT 
        distinct state
from 
        shipping.city c
where 
        c.city_id in  
            (
                select 
                    d.city_id
                from 
                    shipping.driver d
                where d.phone is not null
                )
order by 1

После указания названия поля пишется предикат IN. За ним — запрос, возвращающий любое количество строк, но обязательно только один столбец того же типа, что и фильтруемый. В нашем случае city_id может быть отфильтрован только другим целочисленным подзапросом. Если бы в SELECT после IN был текст или логический тип, вернулась бы ошибка несоответствия типов.

Попробуйте в Metabase! Замените d.city_id на "*" и увидите в результате ошибку о том, что в подзапросе слишком много колонок. Для отрицания IN перед ним добавляется NOT. 

В остальном синтаксис схож с EXISTS. Оператор IN удобно использовать, когда есть несколько мест, из которых вы собрали перечень нужных значений и хотите отфильтровать целевую таблицу.

Попробуйте в Metabase! В следующем примере мы подзапросом собрали таблицы с внешними ключами и numeric столбцами и вытащили информацию об этих таблицах. Также в подзапросах можно использовать все изученные ранее конструкции — агрегаты, JOIN и другие типы соединений.

In [ ]:
select 
        *
from 
        information_schema."tables" t
where t.table_name in (
                            select 
                                c.table_name
                            from 
                                information_schema.columns c
                            where 
                                c.data_type = 'numeric'
                                and c.table_schema = 'shipping'
                            union  
                            select 
                                cc.table_name
                            from 
                                information_schema.table_constraints cc
                            where 
                                cc.constraint_type = 'FOREIGN KEY'
                                and cc.constraint_schema = 'shipping'
                            )

### Задание 5.2.1
Напишите запрос, который выводит все поля из таблицы доставок по водителям, совершившим более 90 доставок. Отсортируйте запрос по первому и второму столбцу.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select 
        s.*
from shipment s
where 
        driver_id in (
            select driver_id
                --, count(ship_id) 
            from shipment 
            group by driver_id 
            having count(ship_id) > 90 
            )
order by 1, 2