# Оконные функции
## Юнит 5. РАБОТА С БАЗАМИ ДАННЫХ. SQL
### Skillfactory: DSPR-19

### 6.1. Что такое оконные функции?

Оконная функция выполняет вычисления для набора строк, некоторым образом связанных с текущей строкой. Можно сравнить её с агрегатной функцией, но у них есть различия: при использовании оконной функции несколько строк не группируются в одну, а продолжают существовать раздельно. А внутри оконная функция, как и агрегатная, может обращаться не только к текущей строке результата запроса.

Пример  
Давайте на простом примере посмотрим, как это работает. Следующий запрос вам уже знаком: он считает общую массу грузов доставленных по городам. Для вычисления используется агрегатная функция sum.

In [ ]:
select 
        c.city_name,
        sum(s.weight) city_weight
from 
        shipping.shipment s
        join shipping.city c on s.city_id = c.city_id
group by 1
order by 2 desc

Предположим, нам захотелось посчитать, каков вклад каждой доставки в общую массу доставок в город, то есть отношение массы конкретной доставки к массе всех доставок в городе.

Решим эту задачу с использованием уже знакомых нам функций.

In [ ]:
with city_weight as 
(
        select 
            c.city_id,
            sum(s.weight) city_weight
        from shipping.shipment s
        join shipping.city c on s.city_id = c.city_id
        group by 1
)
select s.ship_id,s.weight/w.city_weight ratio
from shipping.shipment  s
join city_weight  w on s.city_id = w.city_id
order by 2 desc