# Связи таблиц
## Юнит 5. РАБОТА С БАЗАМИ ДАННЫХ. SQL
### Skillfactory: DSPR-19

### 3.1.1. Схема данных
### Задание 3.1.1
Сколько таблиц вы видите на схеме данных?  

Ответ: 5

### 3.1.2. Советы по написанию запросов
Вы уже научились писать простые SQL-запросы. Чем сложнее они будут становиться, тем сложнее их будет читать и ориентироваться в них. Каждый выбирает удобное ему форматирование и стиль написания, но мы приведем основные принципы, которым желательно следовать.

**Отступы и переносы строк**  
SQL не чувствителен к отступам и переносам строк внутри запроса, но желательно их делать, чтобы код был читабелен. На работе вы будете часто делиться кодом или читать свой старый код. Ниже приведены оба варианта.

Вариант без отступов и переносов:

In [ ]:
select city_id, city_name, state, population, area from city where city_id=104

Вариант с отступами и переносами:

In [ ]:
select 
     city_id, 
     city_name, 
     state, 
     population, 
     area 
from 
     city
where
     city_id = 104

**Указатели на таблицу**  
Несмотря на то, что пока мы работаем с одной таблицей внутри одного запроса, неплохо приучить себя к именованию таблиц и указанию, из какой таблицы берутся поля. Ведь поля с одинаковыми названиями могут содержаться в различных таблицах.

Синтаксис для таких действий очень простой: после указания имени таблицы используйте ключевое слово AS, а за ним укажите короткое имя, которое вы будете использовать для указания принадлежности полей. Ниже запрос с указанным коротким именем таблицы.

In [ ]:
select 
     c.city_id, 
     c.city_name, 
     c.state, 
     c.population, 
     c.area 
from 
     city as c
where
     c.city_id = 104

Ключевое слово AS можно опустить во многих СУБД. Такой запрос тоже будет работать:

In [ ]:
select 
     c.city_id, 
     c.city_name, 
     c.state, 
     c.population, 
     c.area 
from 
     city as c
where
     c.city_id = 104