In [1]:
my_list = list()

In [2]:
my_list = []

In [3]:
type(my_list)

list

In [4]:
animals = 'кошка,собака,хомяк,морская свинка,попугай,лошадь'.split(',')

In [5]:
animals = 'кошка,собака,хомяк,морская свинка,попугай,лошадь'.split()

In [6]:
print(animals)

['кошка,собака,хомяк,морская', 'свинка,попугай,лошадь']

In [7]:
animals = ['кошка', 'собака', 'хомяк', 'морская свинка', 'попугай', 'лошадь']
print(animals[0])
print(animals[2])
print(animals[3])

кошка
хомяк
морская свинка

In [8]:
animals = ['кошка', 'собака', 'хомяк', 'морская свинка', 'попугай', 'лошадь']
print(animals[-1])
print(animals[-2])
print(animals[-6])

лошадь
попугай
кошка

In [15]:
OurBestStudents = ['Александр', 'Константин', 'Мария', 'Диана', 'Алексей', 
                   'Максим', 'Светлана', 'Арина', 'Серафим', 'Doomer', 
                   'Павел', 'Виктория', 'Елена', 'Галина', 'Вячеслав']
print(OurBestStudents[-8])

Арина

In [23]:
colors = ['красный', 'оранжевый', 'жёлтый', 'зелёный', 'голубой', 'синий', 'фиолетовый']
print(colors[:3])

['красный', 'оранжевый', 'жёлтый']

In [33]:
body = ['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']
print(body[-7:-5])

['руки', 'ноги']

In [37]:
rabbits = ['Пушок', 'Дружок', 'Мурзик', 'Барсик', 'Эдуард', 'Ушастик', 'Роджер', 'Трус']
print(rabbits[::2])

['Пушок', 'Мурзик', 'Эдуард', 'Роджер']

In [46]:
sparta = ['Иванов', 'Петров', 'Сидоров', 'Зайцев', 'Дятлов', 
          'Козлов', 'Лисичкин', 'Огурцов', 'Капустин', 'Арбузов']
print(sparta[-2:1:-3])

['Капустин', 'Козлов', 'Сидоров']

In [47]:
my_list = [1, 2, 3, 4, 5]
my_list.append(100500)
print(my_list)

[1, 2, 3, 4, 5, 100500]

In [51]:
old_salary = [35000, 50000, 65000, 49000, 55000]
new_salary = []
for salary in old_salary:
    new_salary.append(salary * 1.9)

print(new_salary)

[66500.0, 95000.0, 123500.0, 93100.0, 104500.0]

In [52]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort()
print(my_list)

[10, 29, 31, 65, 87, 90, 100]

In [53]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort(reverse = False)
print(my_list)

[10, 29, 31, 65, 87, 90, 100]

In [54]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort(reverse = True)
print(my_list)

[100, 90, 87, 65, 31, 29, 10]

In [55]:
my_list = ['банан', 'дыня', 'апельсин', 'груша', 'вишня']
my_list.sort(reverse = False)
print(my_list)

['апельсин', 'банан', 'вишня', 'груша', 'дыня']

In [56]:
my_list = ['банан', 'дыня', 'апельсин', 'груша', 'вишня']
my_list.sort(reverse = True)
print(my_list)

['дыня', 'груша', 'вишня', 'банан', 'апельсин']

In [57]:
salary = [100000, 45000, 78000, 29000, 55000, 60000]
lowest_salary = min(salary)
print(lowest_salary)

29000

In [59]:
my_list = []
for number in range(1,11):
    my_list.append(number**2)
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
names = ['Андрей', 'Илья', 'Александр', 'Ипполит', 'Анна', 'Константин', 'Елена', 'Мария']
my_list = []
for name in names:
    my_list.append(len(name))
name_length = min(my_list)
result = my_list.count(name_length)
print(result)

2

In [61]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
print(my_list[2])

97

In [62]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
result = max(my_list) + min(my_list) + my_list.count('batman')
print(result)

399

In [68]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
new_list = my_list[::2]
print(new_list)

[398, 97, 54, 31, 10]

In [69]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
new_list = my_list[::2]
result = 0
for number in new_list:
    result += number
print(result)

590

In [70]:
my_list = [1]
for i in range(10):
    my_list.append(my_list[i] * 2)
my_list.sort(reverse = True)

In [71]:
fruits = 'яблоко банан апельсин баклажан перец помидор арбуз ананас'.split()
my_list = []
for fruit in fruits:
    my_list.append(fruit[0])
my_list.sort()
print(my_list)

['а', 'а', 'а', 'б', 'б', 'п', 'п', 'я']

In [73]:
my_list = []
result = 0
for i in range (0,51,3):
    my_list.append(i)
    result+=i
print(result)

408

In [76]:
raw_list = ['переменные', 'циклы', 'условия', 'списки', 'словари', 'файлы', 'функции']
my_list = []
for word in raw_list:
    my_list.append(len(word))
result = min(my_list) + max(my_list)
print(result)

15

In [79]:
#неверное решение
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
x_min = min(raw_list)
x_max = max(raw_list)

my_list = []
for number in raw_list:
    my_list.append(((number%2==0)*x_min) or((number%2!=0)*x_max))
result = max(my_list)
print(result)

71

In [81]:
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
# Находим минимальное значение этого списка
x_min = min(raw_list)
# Находим максимальное значение этого списка
x_max=max(raw_list)
# Создаем пустой список
my_list=[]
for word in raw_list: #Проходимся по элементам списка raw_list
    if word%2==0: # проверяем, если элемент четный, то добавляем его в новый список, умножая на минимальный элемент
        my_list.append(word*x_min)
    else: # иначе добавляем его в список, умножая на максимальный элемент
        my_list.append(word*x_max) 
result = max(my_list) # Определеяем максимальный элемент нового списка
print(result)

5041

In [82]:
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
x_min = min(raw_list)
x_max = max(raw_list)

my_list = []
for number in raw_list:
    if number%2==0:
        my_list.append(number*x_min)
    else:
        my_list.append(number*x_max)
result = max(my_list)
print(result)

5041

In [2]:
my_list = [x for x in range(1, 25, 2)]
print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [4]:
my_list = []
for x in range (1,25,2):
    my_list.append(x)
print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [5]:
my_list = [x for x in range(10, 100) if x%3 == 0 and x%5 == 0]

In [6]:
my_list

[15, 30, 45, 60, 75, 90]

In [7]:
powers = [x**y for x in range(1, 10) for y in [2,10]]

In [9]:
powers

[1,
 1,
 4,
 1024,
 9,
 59049,
 16,
 1048576,
 25,
 9765625,
 36,
 60466176,
 49,
 282475249,
 64,
 1073741824,
 81,
 3486784401]

In [10]:
numbers = [x*y for x in range(1, 10) for y in [3, 5, 7]]
numbers

[3,
 5,
 7,
 6,
 10,
 14,
 9,
 15,
 21,
 12,
 20,
 28,
 15,
 25,
 35,
 18,
 30,
 42,
 21,
 35,
 49,
 24,
 40,
 56,
 27,
 45,
 63]

In [11]:
numbers = [x*y for x in range(1, 10) for y in [3, 5, 7]]
numbers

[3,
 5,
 7,
 6,
 10,
 14,
 9,
 15,
 21,
 12,
 20,
 28,
 15,
 25,
 35,
 18,
 30,
 42,
 21,
 35,
 49,
 24,
 40,
 56,
 27,
 45,
 63]

In [12]:
numbers = [x for x in range(3,100) if [x%y for y in range(2,x)].count(0) == 0]
numbers

[3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [16]:
my_list = [x**0.5 for x in range(1,50) if x%7==0]
my_list

[2.6457513110645907,
 3.7416573867739413,
 4.58257569495584,
 5.291502622129181,
 5.916079783099616,
 6.48074069840786,
 7.0]

In [14]:
my_list = []
for x in range(1, 50):
    if x%7 == 0:
        my_list.append(x**0.5)
my_list

[2.6457513110645907,
 3.7416573867739413,
 4.58257569495584,
 5.291502622129181,
 5.916079783099616,
 6.48074069840786,
 7.0]

In [19]:
my_list = [x//10 + x%10 for x in range(90,100)]
my_list

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [20]:
phones = [['+79033923029', 'Мария Никитина'], ['+78125849204', 'Егор Савичев'], ['+79053049385', 'Александр Пахомов'], ['+79265748370', 'Алина Егорова'], ['+79030598495', 'Руслан Башаров']]
phones

[['+79033923029', 'Мария Никитина'],
 ['+78125849204', 'Егор Савичев'],
 ['+79053049385', 'Александр Пахомов'],
 ['+79265748370', 'Алина Егорова'],
 ['+79030598495', 'Руслан Башаров']]

In [21]:
phones=['+79033923029', '+78125849204', '+79053049385', '+79265748370', '+79030598495']
phones

['+79033923029',
 '+78125849204',
 '+79053049385',
 '+79265748370',
 '+79030598495']

In [25]:
employee_base = {
    'Мария Никитина': '+79033923029',
    'Егор Савичев': '+78125849204',
    'Александр Пахомов' :'+79053049385',
    'Алина Егорова': '+79265748370',
    'Руслан Башаров' : '+79030598495'
}
print(employee_base['Мария Никитина'])

+79033923029

In [26]:
employee_base = {
    'Мария Никитина': '+79033923029',
    'Егор Савичев': '+78125849204',
    'Александр Пахомов' :'+79053049385',
    'Алина Егорова': '+79265748370',
    'Руслан Башаров' : '+79030598495'
}
print(employee_base['Алина Егорова'])

+79265748370

In [27]:
request = ['Мария Никитина', 'Егор Савичев', 'Алексей Чернышевский']
for name in request:
    print(employee_base[name])

+79033923029
+78125849204

KeyError: 'Алексей Чернышевский'

In [28]:
request = ['Мария Никитина', 'Егор Савичев', 'Алексей Чернышевский']
for name in request:
    if name in employee_base:
        print(employee_base[name])
    else:
        print('Неизвестный сотрудник')

+79033923029
+78125849204
Неизвестный сотрудник

In [32]:
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
group = draw_dict[country]
request = ['Италия']
for country in request:
    if country in draw_dict:
    print(draw_dict[group])
else:
    print('unknown')

IndentationError: expected an indented block (<ipython-input-32-cbe7fde337ce>, line 12)

In [33]:
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
country = 'Италия'
if country in draw_dict:
    group=draw_dict[country]
else:
    group = 'unknown'

In [34]:
simple_dict = {'a': 1}
simple_dict.setdefault('b', 0)
print(simple_dict)

{'a': 1, 'b': 0}

In [35]:
simple_dict = {'a': 1, 'b': 0}

simple_dict.setdefault('b', 5)
print(simple_dict)

{'a': 1, 'b': 0}

In [37]:
employee_base = {
    'Мария Никитина': '+79033923029',
    'Егор Савичев': '+78125849204',
    'Александр Пахомов' :'+79053049385',
    'Алина Егорова': '+79265748370',
    'Руслан Башаров' : '+79030598495'
}
request = ['Мария Никитина', 'Егор Савичев', 'Алексей Чернышевский']
for name in request:
    print(employee_base[name])

+79033923029
+78125849204

KeyError: 'Алексей Чернышевский'

In [39]:
employee_base = {
    'Мария Никитина': '+79033923029',
    'Егор Савичев': '+78125849204',
    'Александр Пахомов' :'+79053049385',
    'Алина Егорова': '+79265748370',
    'Руслан Башаров' : '+79030598495'
}
request = ['Мария Никитина', 'Егор Савичев', 'Алексей Чернышевский']
for name in request:
    employee_base.setdefault(name, 'Неизвестный сотрудник')
    print(employee_base[name])

+79033923029
+78125849204
Неизвестный сотрудник

In [41]:
draw_dict = {
	'Россия': 'A',
	'Португалия': 'B',
	'Франция': 'C',
	'Дания': 'C',
	'Египет': 'A'
}
country = 'Италия'
group = 'unknown'
if country in draw_dict:
    draw_dict.setdefault(country, group)

In [1]:
employee_base = {
    'Мария Никитина': '+79033923029',
    'Егор Савичев': '+78125849204',
    'Александр Пахомов' :'+79053049385',
    'Алина Егорова': '+79265748370',
    'Руслан Башаров' : '+79030598495'
}
for employee in employee_base:
    print(employee)

Мария Никитина
Егор Савичев
Александр Пахомов
Алина Егорова
Руслан Башаров

In [3]:
employee_base = {
    'Мария Никитина': '+79033923029',
    'Егор Савичев': '+78125849204',
    'Александр Пахомов' :'+79053049385',
    'Алина Егорова': '+79265748370',
    'Руслан Башаров' : '+79030598495'
}
for employee in employee_base.keys():
    print(employee)

Мария Никитина
Егор Савичев
Александр Пахомов
Алина Егорова
Руслан Башаров

In [5]:
for employee in employee_base:
    print(employee)

Мария Никитина
Егор Савичев
Александр Пахомов
Алина Егорова
Руслан Башаров

In [6]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов' :'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров' : 'верстальщик'
}
for employee in employee_base:
    print(employee, employee_base[employee])

Мария Никитина менеджер
Егор Савичев разработчик
Александр Пахомов дизайнер
Алина Егорова разработчик
Руслан Башаров верстальщик

In [11]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов' :'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров' : 'верстальщик'
}
for employee in employee_base:
    if employee_base[employee] == 'разработчик':
        print(employee)

Егор Савичев
Алина Егорова

In [16]:
draw_dict = {
	'Россия': 'A',
	'Португалия': 'B',
	'Франция': 'C',
	'Дания': 'C',
	'Египет': 'A'
}
draw_new={} 
for country in draw_dict:
    if draw_dict[country] == 'A':
        draw_new.setdefault(country, 'A')

In [17]:
print(draw_new)

{'Россия': 'A', 'Египет': 'A'}

In [19]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов' :'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров' : 'верстальщик'
}
for position in employee_base:
       print(position)

Мария Никитина
Егор Савичев
Александр Пахомов
Алина Егорова
Руслан Башаров

In [21]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов' :'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров' : 'верстальщик'
}
for position in employee_base.values():
       print(position)

менеджер
разработчик
дизайнер
разработчик
верстальщик

In [22]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов' :'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров' : 'верстальщик'
}
for position in employee_base:
    if employee_base[position] == 'разработчик':
        print(position)

Егор Савичев
Алина Егорова

In [24]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов' :'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров' : 'верстальщик'
}
i = 0 #заводим счетчик
for position in employee_base.values():
    if position == 'разработчик':         # увеличиваем счетчик на 1
        i+=1
print(i)

2

In [25]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов' :'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров' : 'верстальщик'
}
for employee, position in employee_base.items():
    print(employee, position)

Мария Никитина менеджер
Егор Савичев разработчик
Александр Пахомов дизайнер
Алина Егорова разработчик
Руслан Башаров верстальщик

In [26]:
employee_base = {
    'Мария Никитина': 'менеджер',
    'Егор Савичев': 'разработчик',
    'Александр Пахомов' :'дизайнер',
    'Алина Егорова': 'разработчик',
    'Руслан Башаров' : 'верстальщик'
}
for employee, position in employee_base.items():
    if position == 'разработчик':
        print(employee)

Егор Савичев
Алина Егорова

In [28]:
draw_dict = {
	'Россия': 'A',
	'Португалия': 'B',
	'Франция': 'C',
	'Дания': 'C',
	'Египет': 'A'
}
draw_new={} 
for country, group in draw_dict.items():
    if group == 'A':
        draw_new.setdefault(country, 'A')
        
print(draw_new)

{'Россия': 'A', 'Египет': 'A'}

In [32]:
draw_dict = {
    '2019-04-01': 2504,
    '2019-04-02': 4994 ,
    '2019-04-03' :6343 ,
}
sum = 0
for expense in draw_dict.values():
    sum+=expense
print(sum)

13841

In [35]:
phones = {
	'Гордиенко Виктория': 5140,
	'Анисимов Кирилл': 5145,
	'Кузнецова Дарья': 5142
}
for record in phones:
	if record == 'Кузнецова Дарья' and phones[record] == 5142:
		print('Номер верен')

Номер верен

In [36]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]
print(csv_file[4])

['100898', 'Шагомер Omron HJA-306', 2]

2

In [39]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]
pulsometr_id = csv_file[5][0]
print(pulsometr_id)

100934

In [40]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]
for record in csv_file:
    print(record)

['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9]
['100728', 'Скейтборд Jdbug RT03', 32]
['100732', 'Роллерсерф Razor RipStik Bright', 11]
['100803', 'Ботинки для сноуборда DC Tucknee', 20]
['100898', 'Шагомер Omron HJA-306', 2]
['100934', 'Пульсометр Beurer PM62', 17]

In [45]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]
for record in csv_file:
    if record[1] == 'Шагомер Omron HJA-306':
        print('Количество шагомеров на складе - {}шт'.format(record[2]))

Количество шагомеров на складе - 2шт

In [47]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]
csv_file_filtered = []
for record in csv_file:
    if record[2] >10:
        csv_file_filtered.append(record)
print(csv_file_filtered)

[['100728', 'Скейтборд Jdbug RT03', 32], ['100732', 'Роллерсерф Razor RipStik Bright', 11], ['100803', 'Ботинки для сноуборда DC Tucknee', 20], ['100934', 'Пульсометр Beurer PM62', 17]]

In [48]:
contacts = {
    'Борискин Владимир': {
        'tel': '5387',
        'position': 'менеджер'
    },
    
    'Сомова Наталья': {
        'tel': '5443',
        'position': 'разработчик'
    },
}
print(contacts['Борискин Владимир'])

{'tel': '5387', 'position': 'менеджер'}

In [52]:
contacts = {
    'Борискин Владимир': {
        'tel': '5387',
        'position': 'менеджер'
    },
    
    'Сомова Наталья': {
        'tel': '5443',
        'position': 'разработчик'
    },
}
print(contacts['Борискин Владимир']['tel'])

5387

In [61]:
csv_dict = [
    {'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9},
    {'id': '100728', 'position': 'Скейтборд Jdbug RT03', 'count': 32},
    {'id': '100732', 'position': 'Роллерсерф Razor RipStik Bright', 'count': 11},
    {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20},
    {'id': '100898', 'position': 'Шагомер Omron HJA-306', 'count': 2},
    {'id': '100934', 'position': 'Пульсометр Beurer PM62', 'count': 17},
]
csv_dict_boots = []
for record in csv_dict:
    if 'Ботинки' in record['position']:
        csv_dict_boots.append(record)

In [62]:
print(csv_dict_boots)

[{'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9}, {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20}]

In [60]:
csv_dict = [
    {'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9},
    {'id': '100728', 'position': 'Скейтборд Jdbug RT03', 'count': 32},
    {'id': '100732', 'position': 'Роллерсерф Razor RipStik Bright', 'count': 11},
    {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20},
    {'id': '100898', 'position': 'Шагомер Omron HJA-306', 'count': 2},
    {'id': '100934', 'position': 'Пульсометр Beurer PM62', 'count': 17},
]
csv_dict_boots = [] #Создаем словарь, куда поместим товары, в названии которых есть слово "Ботинки"
for record in csv_dict: # Проходимся по элементам вложенного словаря
     if 'Ботинки' in record['position']: # Если слово Ботинки есть в значении ключа 'position'
        csv_dict_boots.append(record) #Добавляем весь словарь с этим товаром в новый список

In [59]:
print(csv_dict_boots)

[{'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9}, {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20}]

In [63]:
csv_dict = [
    {'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9},
    {'id': '100728', 'position': 'Скейтборд Jdbug RT03', 'count': 32},
    {'id': '100732', 'position': 'Роллерсерф Razor RipStik Bright', 'count': 11},
    {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20},
    {'id': '100898', 'position': 'Шагомер Omron HJA-306', 'count': 2},
    {'id': '100934', 'position': 'Пульсометр Beurer PM62', 'count': 17},
]
csv_dict_boots = []
for record in csv_dict:
    if 'Ботинки' in record['position']:
        csv_dict_boots.append(record)

In [64]:
results = [
	{'cost': 98, 'source': 'vk'},
	{'cost': 153, 'source': 'yandex'},
	{'cost': 110, 'source': 'facebook'},
]
min=1000 # Задаем значение минимума, с которым будем сравнивать значения из словаря
for stat in results: # Проходимся по словарям списка
    if stat['cost']<min: # Если значение ключа cost меньше заданного минимума
        min=stat['cost'] # присваиваем значение переменной минимума, с котрой будем сравнивать в следцющем цикле
print(min)

98

In [65]:
Задание 2.20.2
Дана статистика результатов рекламной кампании по каналу (ключ 'source') и сумме расходов ('cost'). Напишите код, который ищет минимальное значение ключа cost в этом словаре. Укажите это значение в качестве ответа
Напсиать не смогла. Посмотрела эталонное решение. @Екатерина Попова помогите разобраться, почему значение минимум задаем 1000? Все 3 значения cost меньше 1000 - почему выдает в ответе только 1 варинат
results = [
	{'cost': 98, 'source': 'vk'},
	{'cost': 153, 'source': 'yandex'},
	{'cost': 110, 'source': 'facebook'},
]
min=1000 # Задаем значение минимума, с которым будем сравнивать значения из словаря
for stat in results: # Проходимся по словарям списка
    if stat['cost']<min: # Если значение ключа cost меньше заданного минимума
        min=stat['cost'] # присваиваем значение переменной минимума, с котрой будем сравнивать в следцющем цикле
print(min)

SyntaxError: invalid syntax (<ipython-input-65-de5310d78255>, line 1)

In [78]:
defect_stats = [
	{'step number': 1, 'damage': 0.98},
	{'step number': 2, 'damage': 0.99},
	{'step number': 3, 'damage': 0.99},
	{'step number': 4, 'damage': 0.96},
	{'step number': 5, 'damage': 0.97},
	{'step number': 6, 'damage': 0.97},
]
size=100
number = 0
for step in defect_stats:
    size*=step['damage']
    if size<90:
        number = step['step number']
        break
print(number)

5

In [4]:
currency = {
	'AMD': {
		'Name': 'Армянских драмов',
		'Nominal': 100,
		'Value': 13.121
	},

	'AUD': {
		'Name': 'Австралийский доллар',
		'Nominal': 1,
		'Value': 45.5309
	},

	'INR': {
		'Name': 'Индийских рупий',
		'Nominal': 100,
		'Value': 92.9658
	},

	'MDL': {
		'Name': 'Молдавских леев',
		'Nominal': 10,
		'Value': 36.9305
	},
}
valuta = ''
min = 1000
for name, rate in currency.items():
    if rate['Value']/rate['Nominal']<min:
        min = rate['Value']/rate['Nominal']
        valuta = name
print(valuta)

AMD

In [12]:
bodycount = {
	'Проклятие Черной жемчужины': {
		'человек': 17
	}, 

	'Сундук мертвеца': {
		'человек': 56,
		'раков-отшельников': 1
	},

	'На краю света': {
		'человек': 88
	},

	'На странных берегах': {
		'человек': 56,
		'русалок': 2,
		'ядовитых жаб': 3,
		'пиратов зомби': 2
	}
}
died_count = []
sum = 0
for film,creature in bodycount.items():
    for number in creature.values():
        died_count.append(number)
        sum += number
print(sum)

225

In [16]:
bodycount = {
	'Проклятие Черной жемчужины': {
		'человек': 17
	}, 

	'Сундук мертвеца': {
		'человек': 56,
		'раков-отшельников': 1
	},

	'На краю света': {
		'человек': 88
	},

	'На странных берегах': {
		'человек': 56,
		'русалок': 2,
		'ядовитых жаб': 3,
		'пиратов зомби': 2
	}

summ = []
for body in bodycount:
summ.append(sum(bodycount[body].values()))
print(sum(summ))

SyntaxError: invalid syntax (<ipython-input-16-440b122f4d10>, line 22)

In [20]:
arrivals = {
	'Париж': {'время': '15:25', 'статус': 'ожидается', 'рейс': ['Аэрофлот']},
	'Пекин': {'время': '15:35', 'статус': 'опаздывает', 'рейс': ['China Southern Airlines', 'Россия']},
	'Лиссабон': {'время': '15:40', 'статус': 'ожидается', 'рейс': ['Nordwind', 'Аэрофлот']},
}
arrivals['Лиссабон']['статус']

'ожидается'

In [22]:
arrivals = {
	'Париж': {'время': '15:25', 'статус': 'ожидается', 'рейс': ['Аэрофлот']},
	'Пекин': {'время': '15:35', 'статус': 'опаздывает', 'рейс': ['China Southern Airlines', 'Россия']},
	'Лиссабон': {'время': '15:40', 'статус': 'ожидается', 'рейс': ['Nordwind', 'Аэрофлот']},
}
len(arrivals['Пекин']['рейс'])

2