In [4]:
import pandas as pd

df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
small_df = df[df.columns[1:8]].head(25)
small_df

   col2
0     3
1     4

In [7]:
import pandas as pd 
'''насколько средняя реакция (Reactions) самых взрослых игроков (т.е. игроков, чей возраст (Age) равен максимальному) 
больше средней реакции самых молодых игроков. '''
football = pd.read_csv('data_sf.csv')

football[football.Age == football.Age.max()].Reactions.mean() - football[football.Age == football.Age.min()].Reactions.mean()

22.642857142857146

In [32]:
pd.read_csv('data_sf.csv')

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [11]:
small_df = df[df.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

Real Madrid            4
FC Barcelona           4
Manchester City        3
Atlético Madrid        3
Juventus               3
FC Bayern München      2
Paris Saint-Germain    2
Chelsea                2
Tottenham Hotspur      1
Manchester United      1
Name: Club, dtype: int64

In [13]:
s.index

Index(['Spain', 'Germany', 'Uruguay', 'Belgium', 'Argentina', 'France',
       'Poland', 'Italy', 'Slovenia', 'England', 'Brazil', 'Portugal',
       'Croatia'],
      dtype='object')

In [14]:
s.index[0]

'Spain'

In [15]:
len(s.index)

13

In [16]:
s['Germany']

3

In [17]:
s.loc[s > 1]

Spain        4
Germany      3
Uruguay      3
Belgium      3
Argentina    3
France       2
Name: Nationality, dtype: int64

In [29]:
import pandas as pd 

football = pd.read_csv('data_sf.csv')
football['Club'].value_counts()

Shonan Bellmare      30
V-Varen Nagasaki     30
Vissel Kobe          29
De Graafschap        29
Padova               29
                     ..
FC Metz               8
Dinamo Zagreb         7
GD Chaves             7
Vitória Guimarães     7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [30]:
s.index

Index(['Real Madrid', 'FC Barcelona', 'Manchester City', 'Atlético Madrid',
       'Juventus', 'FC Bayern München', 'Paris Saint-Germain', 'Chelsea',
       'Tottenham Hotspur', 'Manchester United'],
      dtype='object')

In [31]:
len(s.index)

10

In [33]:
pd.read_csv('data_sf.csv')

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [44]:
football['Club'].value_counts()

Shonan Bellmare      30
V-Varen Nagasaki     30
Vissel Kobe          29
De Graafschap        29
Padova               29
                     ..
FC Metz               8
Dinamo Zagreb         7
GD Chaves             7
Vitória Guimarães     7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [45]:
s = small_df['Nationality'].value_counts(normalize=True)
display(s)

Spain        0.16
Germany      0.12
Uruguay      0.12
Belgium      0.12
Argentina    0.12
France       0.08
Poland       0.04
Italy        0.04
Slovenia     0.04
England      0.04
Brazil       0.04
Portugal     0.04
Croatia      0.04
Name: Nationality, dtype: float64

In [48]:
s = small_df['Position'].value_counts(normalize=True)
display(s > 0.1)

GK      True
ST      True
RCM    False
LCM    False
LF     False
LS     False
CAM    False
RF     False
LDM    False
RCB    False
CB     False
RS     False
LW     False
CDM    False
LCB    False
Name: Position, dtype: bool

In [51]:
football['Position'].value_counts(normalize=True)
display(s < 0.01)

GK     False
ST     False
RCM    False
LCM    False
LF     False
LS     False
CAM    False
RF     False
LDM    False
RCB    False
CB     False
RS     False
LW     False
CDM    False
LCB    False
Name: Position, dtype: bool

In [52]:
football['Club'].value_counts()

Shonan Bellmare      30
V-Varen Nagasaki     30
Vissel Kobe          29
De Graafschap        29
Padova               29
                     ..
FC Metz               8
Dinamo Zagreb         7
GD Chaves             7
Vitória Guimarães     7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [53]:
football['Position'].value_counts(normalize=True)
display(football > 0.1)

TypeError: '>' not supported between instances of 'str' and 'float'

In [54]:
s = football['Position'].value_counts(normalize=True)
display(s > 0.1)

GK      True
ST      True
CB      True
CM     False
LB     False
RB     False
RM     False
LM     False
CDM    False
CAM    False
RCB    False
LCB    False
LW     False
RCM    False
RW     False
LCM    False
LDM    False
RDM    False
LS     False
RS     False
RWB    False
LWB    False
CF     False
LF     False
LAM    False
RF     False
RAM    False
Name: Position, dtype: bool

In [55]:
s = football['Position'].value_counts(normalize=True)
display(s < 0.01)

GK     False
ST     False
CB     False
CM     False
LB     False
RB     False
RM     False
LM     False
CDM    False
CAM    False
RCB    False
LCB    False
LW     False
RCM    False
RW     False
LCM    False
LDM    False
RDM    False
LS      True
RS      True
RWB     True
LWB     True
CF      True
LF      True
LAM     True
RF      True
RAM     True
Name: Position, dtype: bool

In [56]:
s = small_df['Wage'].value_counts(bins=4)
display(s)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [57]:
small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]

        Name  Age Nationality          Club      Value    Wage Position
0   L. Messi   31   Argentina  FC Barcelona  110500000  565000       RF
7  L. Suárez   31     Uruguay  FC Barcelona   80000000  455000       RS

In [59]:
small_df = df[df.columns[0:7]].head(25)
small_df

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000
3,3,De Gea,27,Spain,Manchester United,72000000,260000
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000
5,5,E. Hazard,27,Belgium,Chelsea,93000000,340000
6,6,L. Modrić,32,Croatia,Real Madrid,67000000,420000
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000
8,8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000
9,9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000
10,10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000
11,11,T. Kroos,28,Germany,Real Madrid,76500000,355000
12,12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000
13,13,David Silva,32,Spain,Manchester City,60000000,285000
14,14,N. Kanté,27,France,Chelsea,63000000,225000
15,15,P. Dybala,24,Argentina,Juventus,89000000,205000
16,16,H. Kane,24,England,Tottenham Hotspur,83500000,205000
17,17,A. Griezmann,27,France,Atlético Madrid,78000000,145000
18,18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000
19,19,T. Courtois,26,Belgium,Real Madrid,53500000,240000
20,20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000
21,21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000
22,22,M. Neuer,32,Germany,FC Bayern München,38000000,130000
23,23,S. Agüero,30,Argentina,Manchester City,64500000,300000
24,24,G. Chiellini,33,Italy,Juventus,27000000,215000

In [61]:
s = small_df['Wage'].value_counts(bins=4)
display(s)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [62]:
s.index

IntervalIndex([(211750.0, 329500.0], (93528.999, 211750.0], (329500.0, 447250.0], (447250.0, 565000.0]],
              closed='right',
              dtype='interval[float64]')

In [63]:
s.index[3]

Interval(447250.0, 565000.0, closed='right')

In [64]:
s.index[3].left

447250.0

In [65]:
s.index[3].right

565000.0

In [66]:
small_df['Wage'] > s.index[3].left

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: Wage, dtype: bool

In [76]:
s = football['FKAccuracy'].value_counts(bins=5)
display(s)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [77]:
s = small_df['Nationality'].value_counts()
print(s.index) #выводит список уникальных значений
print(len(s.index)) #подсчитывает количетво этих значений

Index(['Spain', 'Germany', 'Uruguay', 'Belgium', 'Argentina', 'France',
       'Poland', 'Italy', 'Slovenia', 'England', 'Brazil', 'Portugal',
       'Croatia'],
      dtype='object')
13

In [80]:
small_df['Nationality'].nunique()

13

In [78]:
small_df['Nationality'].unique()

array(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia',
       'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England',
       'Italy'], dtype=object)

In [79]:
len(small_df['Nationality'].unique())

13

In [83]:
s = football['Position'].value_counts()
s

GK     1641
ST     1512
CB     1403
CM     1067
LB     1002
RB      948
RM      766
LM      728
CDM     691
CAM     633
RCB     418
LCB     409
LW      242
RCM     240
RW      237
LCM     233
LDM     148
RDM     138
LS      121
RS      114
RWB      70
LWB      60
CF       51
LF        8
LAM       6
RF        6
RAM       5
Name: Position, dtype: int64

In [84]:
football['Position'].nunique()

27

In [85]:
s = small_df['Nationality'].value_counts()
s_df = s.reset_index()
display(s_df)

        index  Nationality
0       Spain            4
1     Germany            3
2     Uruguay            3
3     Belgium            3
4   Argentina            3
5      France            2
6      Poland            1
7       Italy            1
8    Slovenia            1
9     England            1
10     Brazil            1
11   Portugal            1
12    Croatia            1

In [99]:
s = football['Nationality'].value_counts()
display(s)

England                 1368
Germany                  919
Spain                    671
France                   614
Argentina                574
                        ...
Palestine                  1
Oman                       1
Mauritius                  1
Central African Rep.       1
Ethiopia                   1
Name: Nationality, Length: 156, dtype: int64

In [100]:
s.index

Index(['England', 'Germany', 'Spain', 'France', 'Argentina', 'Italy',
       'Colombia', 'Japan', 'Brazil', 'China PR',
       ...
       'Jordan', 'Malta', 'Qatar', 'Puerto Rico', 'Libya', 'Palestine', 'Oman',
       'Mauritius', 'Central African Rep.', 'Ethiopia'],
      dtype='object', length=156)

In [101]:
s.index[2]

'Spain'

In [102]:
football['Club'].nunique()
display(football)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [110]:
s = football[football.Nationality == 'Spain'].Wage
answer = s.value_counts(bins=4, normalize = True)
answer

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [111]:
s = football[football.Nationality == 'Spain'].Wage
answer = s.value_counts(bins=4, normalize = True)
answer >= 0.25

(620.999, 95750.0]       True
(95750.0, 190500.0]     False
(190500.0, 285250.0]    False
(285250.0, 380000.0]    False
Name: Wage, dtype: bool

In [119]:
s = football[football.Club == 'Manchester United'].nunique()
answer = s.

       Unnamed: 0                Name  Age Nationality                 Club  \
0               0            L. Messi   31   Argentina         FC Barcelona
1               1   Cristiano Ronaldo   33    Portugal             Juventus
2               2           Neymar Jr   26      Brazil  Paris Saint-Germain
3               3              De Gea   27       Spain    Manchester United
4               4        K. De Bruyne   27     Belgium      Manchester City
...           ...                 ...  ...         ...                  ...
12892       13121        J. Lundstram   19     England      Crewe Alexandra
12893       13122  N. Christoffersson   19      Sweden       Trelleborgs FF
12894       13123           B. Worman   16     England     Cambridge United
12895       13124      D. Walker-Rice   17     England      Tranmere Rovers
12896       13125           G. Nugent   16     England      Tranmere Rovers

           Value    Wage Position  Crossing  Finishing  ...  Penalties  \
0      110500000  565000       RF        84         95  ...         75
1       77000000  405000       ST        84         94  ...         85
2      118500000  290000       LW        79         87  ...         81
3       72000000  260000       GK        17         13  ...         40
4      102000000  355000      RCM        93         82  ...         79
...          ...     ...      ...       ...        ...  ...        ...
12892    1100000    1000       CM        34         38  ...         43
12893      60000    1000       ST        23         52  ...         43
12894      60000    1000       ST        25         40  ...         55
12895      60000    1000       RW        44         50  ...         50
12896      60000    1000       CM        41         34  ...         33

       Composure  Marking  StandingTackle  SlidingTackle  GKDiving  \
0             96       33              28             26         6
1             95       28              31             23         7
2             94       27              24             33         9
3             68       15              21             13        90
4             88       68              58             51        15
...          ...      ...             ...            ...       ...
12892         45       40              48             47        10
12893         42       22              15             19        10
12894         41       32              13             11         6
12895         46       20              25             27        14
12896         43       40              43             50        10

       GKHandling  GKKicking  GKPositioning  GKReflexes
0              11         15             14           8
1              11         15             14          11
2               9         15             15          11
3              85         87             88          94
4              13          5             10          13
...           ...        ...            ...         ...
12892          13          7              8           9
12893           9          9              5          12
12894           5         10              6          13
12895           6         14              8           9
12896          15          9             12           9

[12897 rows x 42 columns]

In [121]:
#задача 6.6
football = football[football.Nationality == 'Spain']
football[football['Age'] == 21].count()/len(football)

Unnamed: 0         0.117735
Name               0.117735
Age                0.117735
Nationality        0.117735
Club               0.117735
Value              0.117735
Wage               0.117735
Position           0.117735
Crossing           0.117735
Finishing          0.117735
HeadingAccuracy    0.117735
ShortPassing       0.117735
Volleys            0.117735
Dribbling          0.117735
Curve              0.117735
FKAccuracy         0.117735
LongPassing        0.117735
BallControl        0.117735
Acceleration       0.117735
SprintSpeed        0.117735
Agility            0.117735
Reactions          0.117735
Balance            0.117735
ShotPower          0.117735
Jumping            0.117735
Stamina            0.117735
Strength           0.117735
LongShots          0.117735
Aggression         0.117735
Interceptions      0.117735
Positioning        0.117735
Vision             0.117735
Penalties          0.117735
Composure          0.117735
Marking            0.117735
StandingTackle     0.117735
SlidingTackle      0.117735
GKDiving           0.117735
GKHandling         0.117735
GKKicking          0.117735
GKPositioning      0.117735
GKReflexes         0.117735
dtype: float64

In [159]:
s = football[football.Nationality == 'Argentina'].value_counts(bins=4)
s

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [139]:
football[football.Nationality == 'Argentina']
football.value_counts(bins=4)

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [153]:
s = football['Club'].value_counts()
display(s)

Series([], Name: Club, dtype: int64)

Empty DataFrame
Columns: [Unnamed: 0, Name, Age, Nationality, Club, Value, Wage, Position, Crossing, Finishing, HeadingAccuracy, ShortPassing, Volleys, Dribbling, Curve, FKAccuracy, LongPassing, BallControl, Acceleration, SprintSpeed, Agility, Reactions, Balance, ShotPower, Jumping, Stamina, Strength, LongShots, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Marking, StandingTackle, SlidingTackle, GKDiving, GKHandling, GKKicking, GKPositioning, GKReflexes]
Index: []

[0 rows x 42 columns]

In [149]:
football[football.Age > 35]

Empty DataFrame
Columns: [Unnamed: 0, Name, Age, Nationality, Club, Value, Wage, Position, Crossing, Finishing, HeadingAccuracy, ShortPassing, Volleys, Dribbling, Curve, FKAccuracy, LongPassing, BallControl, Acceleration, SprintSpeed, Agility, Reactions, Balance, ShotPower, Jumping, Stamina, Strength, LongShots, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Marking, StandingTackle, SlidingTackle, GKDiving, GKHandling, GKKicking, GKPositioning, GKReflexes]
Index: []

[0 rows x 42 columns]

In [154]:
football['Age'].value_counts()

Series([], Name: Age, dtype: int64)

In [157]:
import pandas as pd 
football = pd.read_csv('data_sf.csv')

football['Club'].value_counts()

Shonan Bellmare      30
V-Varen Nagasaki     30
Vissel Kobe          29
De Graafschap        29
Padova               29
                     ..
FC Metz               8
Dinamo Zagreb         7
GD Chaves             7
Vitória Guimarães     7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [158]:
football['Age'].value_counts()

21    1060
20     989
22     972
19     907
24     902
23     900
25     854
26     850
27     759
28     720
18     665
29     656
30     549
31     441
32     379
34     281
33     271
17     269
35     158
36     123
37      70
16      42
38      35
39      24
40      13
41       4
44       2
42       1
45       1
Name: Age, dtype: int64

In [165]:
football['Club']
football[football.Age > 35]

KeyError: 'Club'

In [166]:
football['Age'].value_counts()

KeyError: 'Age'

In [167]:
football['Age'].value_counts()

KeyError: 'Age'

In [168]:
import pandas as pd 
football = pd.read_csv('data_sf.csv')

football[football.Age == football.Age > 35].value_counts()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [169]:
football['Club'].value_counts()

Shonan Bellmare      30
V-Varen Nagasaki     30
Vissel Kobe          29
De Graafschap        29
Padova               29
                     ..
FC Metz               8
Dinamo Zagreb         7
GD Chaves             7
Vitória Guimarães     7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [173]:
football = football[football['Club']]
football['Age'] > 35

KeyError: "None of [Index(['FC Barcelona', 'Juventus', 'Paris Saint-Germain', 'Manchester United',\n       'Manchester City', 'Chelsea', 'Real Madrid', 'FC Barcelona',\n       'Real Madrid', 'Atlético Madrid',\n       ...\n       'Cork City', 'Burton Albion', 'Vancouver Whitecaps FC', 'Swindon Town',\n       'Waterford FC', 'Crewe Alexandra', 'Trelleborgs FF', 'Cambridge United',\n       'Tranmere Rovers', 'Tranmere Rovers'],\n      dtype='object', length=12897)] are in the [columns]"

In [174]:
s['Club']

KeyError: 'Club'

In [192]:
#задача 6.6
import pandas as pd 
football = pd.read_csv('data_sf.csv')

s = football[football.Age > 35].Club
answer = s.value_counts()
display(answer)

Club Atlético Huracán         4
Hokkaido Consadole Sapporo    4
Hammarby IF                   3
Estudiantes de La Plata       3
Benevento                     3
                             ..
Dijon FCO                     1
Deportes Iquique              1
Legia Warszawa                1
Wisła Kraków                  1
RCD Espanyol                  1
Name: Club, Length: 212, dtype: int64

In [195]:
s = football[football.Club == 'Manchester United']
answer = s.Nationality.nunique()
display(answer)

13

In [209]:
s = football[football.Club == 'Juventus'] 
answer = s[football.Nationality == 'Brazil']
display(answer.Name)

<ipython-input-209-6e062b03c492>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  answer = s[football.Nationality == 'Brazil']

64      Alex Sandro
65    Douglas Costa
Name: Name, dtype: object

In [225]:
s = football[football.Nationality == 'Argentina'].Age.value_counts(bins=4)
s

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64