In [1]:
# Это определение функции, которая возводит число в квадрат    
def square(x):    
    return x**2

In [5]:
square_result = square(5)    # Это вызов функции. Мы возведём 5 в квадрат и положим 25 в переменную square_result 
print(square_result)

25

In [6]:
# Определение стоимости в магазине всё по 60, где только яблоки стоят 30    
def count_cost(product):    
    if product == "apple":    
        cost = 30    
    else:    
        cost = 60    
    return cost    
    
# Попросим функцию посчитать стоимость апельсина    
orange_cost = count_cost("orange")    
print(orange_cost)

60

In [4]:
def square(x):
    return x**2

square_result = square(20)

print(square_result)

400

In [9]:
# Дополните аргументы и код функции
def sum_2(x, y):
    result = x+y
    return result

summa = sum_2 (42,73)        # Передайте аргументы 42 и 73 в функцию
print(summa)

115

In [10]:
def power(x,y):
    result = x**y
    return result

stepen = power(2,3)
print(stepen)

8

In [12]:
def power(x,y):
    result = x**y
    return result

stepen = power(4,2)
print(stepen)

16

In [13]:
def get_median(numbers_list):
    length = len(numbers_list)
    numbers_list.sort()
    if length % 2 == 0:
        result = (numbers_list[int(length / 2)] + numbers_list[int(length/2 - 1)]) / 2
        return result
    else:
        result = numbers_list[int(length / 2)]
        return result
    
print(get_median([5, 2, 1, 3, 4]))
print(get_median([3, 3, 7, 9]))

3
5.0

In [15]:
ticket_db = [{'price': 400}, {'price': 200}, {'price': 150}]    
    
tickets_euro = []    
for ticket in ticket_db:    
    converted = ticket['price'] / 70    
    rounded = round(converted, 2)     
    formatted = '€' + str(rounded)    
    tickets_euro.append(formatted)    
        
print(tickets_euro)

['€5.71', '€2.86', '€2.14']

In [16]:
ticket_db = [{'price': 400}, {'price': 200}, {'price': 150}]  
  
tickets_euro = []  
for ticket in ticket_db:  
    converted = ticket['price'] / 70  
    rounded = round(converted, 2)   
    formatted = '€' + str(rounded)  
    tickets_euro.append(formatted)  
      
      
guide_db = [{'price': 50}, {'price': 40}]  
  
guides_euro = []  
for guide in guide_db:  
    converted = guide['price'] / 70  
    rounded = round(converted, 2)   
    formatted = '€' + str(rounded)  
    guides_euro.append(formatted)  
      
      
snack_db = [{'price': 100}, {'price': 95}, {'price': 150}]  
  
snacks_euro = []  
for snack in snack_db:  
    converted = snack['price'] / 70  
    rounded = round(converted, 2)   
    formatted = '€' + str(rounded)  
    snacks_euro.append(formatted)  
  
print(tickets_euro, guides_euro, snacks_euro)

['€5.71', '€2.86', '€2.14'] ['€0.71', '€0.57'] ['€1.43', '€1.36', '€2.14']

In [17]:
def to_euro(price):  
    exchange_rate = 70  
    rounded = round(price/exchange_rate, 2)  
    return '€' + str(rounded)  
  
def db_to_euro(db):  
    return [to_euro(item['price']) for item in db]  
  
  
ticket_db = [{'price': 400}, {'price': 200}, {'price': 150}]  
guide_db = [{'price': 50}, {'price': 40}]  
snack_db = [{'price': 100}, {'price': 95}, {'price': 150}]  
  
tickets_euro = db_to_euro(ticket_db)  
guides_euro = db_to_euro(guide_db)  
snacks_euro = db_to_euro(snack_db)  
  
print(tickets_euro, guides_euro, snacks_euro)

['€5.71', '€2.86', '€2.14'] ['€0.71', '€0.57'] ['€1.43', '€1.36', '€2.14']

In [21]:
user_db = [{'orders': 12}, {'orders': 30}, {'orders': 45}]

def avg_orders(user_db):
    order_sum = sum([user['orders'] for user in user_db])
    orders_per_user = order_sum/len(user_db)
    return orders_per_user

result = avg_orders(user_db)
print(result)

29.0

In [29]:
from random import random

def get_euro_rate():
    course = random()*20+65
    return course



def to_euro(price):  
    exchange_rate =  get_euro_rate() 
    rounded = round(price/exchange_rate, 2)  
    return '€' + str(rounded)

In [32]:
def say_hello():  
    print("Hello")

In [33]:
greetings = say_hello  
greetings()

Hello

In [34]:
def apply_the_operation(operation, argument):  
    print("I'm using", operation)  
    return operation(argument)  
  
  
def double_string(string):  
    return string*2  
  
# передаём функцию double_string в apply_the_operation  
apply_the_operation(double_string, 'hello')  
# => I'm using <function double_string at 0x7f4c34265378>  
# 'hellohello'

I'm using <function double_string at 0x000000000534EE50>

'hellohello'

In [38]:
all_the = sum
magic = range
print(magic(5))

range(0, 5)

In [39]:
all_the = sum
magic = range
print(all_the(magic(5)))

10

In [40]:
def polite_name(name):  
    return 'Mr. ' + name   
  
guests = ["Boris", "Ivan", "Bob"]
guest_iterator = map(polite_name, guests)  # здесь мы применили polite_name к каждому имени  
list(guest_iterator)

['Mr. Boris', 'Mr. Ivan', 'Mr. Bob']

In [45]:
def polite_name(name):
    return 'Госпожа ' + name

guests = ['Лубневская', 'Чигирь','Кацер']
guest_iterator = map(polite_name, guests)
list(guest_iterator)

['Госпожа Лубневская', 'Госпожа Чигирь', 'Госпожа Кацер']

In [46]:
num_strings = ["10", "1", "4.2", "0.73"]  
  
list(map(float, num_strings))

[10.0, 1.0, 4.2, 0.73]

In [47]:
list(map(abs, [10,  -1, 42, -73]))[3]

73

In [49]:
word_sizes = list(map(len, ["all", "you", "need", "is", "map"]))
list(word_sizes)

[3, 3, 4, 2, 3]

In [50]:
list(map(len, ["all", "you", "need", "is", "map"]))

[3, 3, 4, 2, 3]

In [51]:
func = lambda x, y: x + y  
func(1, 2)

3

In [52]:
func('a', 'b')

'ab'

In [53]:
(lambda x: x**2)(8)

64

In [54]:
def name(x, y):  
    return x + y  
print(name)

<function name at 0x00000000053765E0>

In [55]:
name = lambda x, y: x + y  
print(name)

<function <lambda> at 0x0000000005376700>

In [57]:
# Для сравнения 
# Функция def

def polite_name(name):  
    return 'Mr. ' + name   
  
guests = ["Boris", "Ivan", "Bob"]
guest_iterator = map(polite_name, guests)  # здесь мы применили polite_name к каждому имени  
list(guest_iterator)

['Mr. Boris', 'Mr. Ivan', 'Mr. Bob']

In [58]:
# Функция lambda

guests = ["Boris", "Ivan", "Bob"]
list(map(lambda name: 'Mr. ' + name, guests))

['Mr. Boris', 'Mr. Ivan', 'Mr. Bob']

In [59]:
guests = ['Лубневская', 'Чигирь','Кацер']
list(map(lambda name: 'Госпожа ' + name, guests))

['Госпожа Лубневская', 'Госпожа Чигирь', 'Госпожа Кацер']

In [63]:
values = [1, 2, 3]
vectors = [(10, 3), (4, 5), (6, 7)]
map(lambda x, y: x + y, values)

In [68]:
values = [4, 8, 15, 16, 23, 42]
mean = 18

result = list(map(lambda x: x-mean, values))

In [69]:
result

[-14, -10, -3, -2, 5, 24]

In [70]:
nums = [1, 20, 30, 33, 16, 5]  # оставим только меньще 30
list(filter(lambda x: x < 30, nums))

[1, 20, 16, 5]

In [71]:
nums = [1, 20, 30, 33, 16, 5]  # Оставим только четные
list(filter(lambda x: x%2 == 0, nums))

[20, 30, 16]

In [72]:
nums = [1, 20, 30, 33, 16, 5]  # Оставим только нечетные
list(filter(lambda x: x%2 == 1, nums))

[1, 33, 5]

In [75]:
values = [4, 8, 15, 16, 23, 42]
mean = 18

result = list(filter(lambda x: x>mean, values))
print(result)

[23, 42]

In [76]:
[x**2 for x in [1, 2, 3]]

[1, 4, 9]

In [77]:
list(map(lambda x: x**2, [1, 2, 3]))

[1, 4, 9]

In [78]:
def build_piglet():  
    piglet = 'Naf-naf'  
  
print(piglet)

NameError: name 'piglet' is not defined

In [79]:
piglet = "Naf-Naf"  
def who_is_piglet():  
    print(piglet)  
  
who_is_piglet()

Naf-Naf

In [80]:
std = 42 

def normalize(value):
    result = value/std
    return result 
    
print(normalize(21))

0.5

In [81]:
def who_in_house():  
    piglet = "Naf-Naf"  
    print(piglet)  
  
piglet = "Spy Wolf"  
who_in_house() # => Naf-Naf  
print(piglet) # => Spy Wolf

Naf-Naf
Spy Wolf

In [82]:
def who_in_wood_house():  
    piglet = "Nif-Nif"  
    print(piglet)  
  
def who_in_brick_house():  
    piglet = "Naf-Naf"  
    print(piglet)  
  
who_in_wood_house() # => "Nif-Nif"  
who_in_brick_house() # => "Naf-Naf"

Nif-Nif
Naf-Naf

In [83]:
std = 42

def normalize(value, std):
    result = value/std
    return result 
    
print(normalize(21, 7))

3.0

In [84]:
values = [-7, -7, 7, 7]
std = 42

def count_std():
    mean = sum(values)/len(values)
    std = (sum([(value-mean)**2 for value in values])/len(values))**0.5
    return std

def normalize(value):
    result = value/std
    return result 

print(normalize(21))

0.5

In [85]:
hello = 'world'  
def change():  
    hello = hello + 'bro'  
change()

UnboundLocalError: local variable 'hello' referenced before assignment

In [86]:
piglet = "Naf-Naf"  
def who_is_piglet():  
    global piglet  
    piglet += '!'  
  
who_is_piglet()  
print(piglet)

Naf-Naf!

In [87]:
rabbits = 0

def count_rabbits(spotted):
    global rabbits
    rabbits += spotted

    
count_rabbits(3)
count_rabbits(5)
print(rabbits)

8

In [88]:
print("Price: ", 10)

Price:  10

In [90]:
print("Soft", "sweat", 10, 12, sep=", ")

Soft, sweat, 10, 12

In [91]:
def hello(name="Alice"):  
    print("Hello,", name)

In [92]:
hello()

Hello, Alice

In [93]:
hello("Bob")

Hello, Bob

In [94]:
hello(name='Bob')

Hello, Bob

In [104]:
def say_something(word, times=5):  
    print(word*times)  

print(say_something)

<function say_something at 0x0000000005388310>

In [100]:
def say_hello(word='hello', times):  
    print(word*times)

SyntaxError: non-default argument follows default argument (<ipython-input-100-74cfb8dd1967>, line 1)

In [109]:
def resize_image(image, target_size=(128, 128), channels=3, channel_order='rgb', anti_aliasing=True):  
    resized_image = image # мы как-то реализуем изменение размера, сейчас не важны детали   
    return resized_image

NameError: name 'image' is not defined

In [110]:
image = int() 
resize_image(image)

0

In [111]:
resize_image(image, (120, 120), 1)

0

In [113]:
image_1 = int() # Для примера.
image_2 = int()
image_3 = int()

resized_image_1 = resize_image(image_1, channels=1)  
resized_image_2 = resize_image(image_2, anti_aliasing=False)  
resized_image_3 = resize_image(image_3, target_size=(120, 120))

In [122]:
normalize([10, 20])

[10, 20]

In [127]:
def normalize (numbers, mean=0, std=1):
    result = []
    for i in numbers:
        result.append(int((i-mean) / std))
    return result

In [128]:
print (result)

[23, 42]

In [123]:
normalize([10, 20])

[10, 20]

In [126]:
normalize([10, 20], std=2)

[10, 20]

In [125]:
normalize([10, 20], mean=15)

[-5, 5]

In [129]:
def multiply(*args):  
    product = 1  
    for num in args:  
        product *= num  
    return product

In [130]:
print(multiply(2))

2

In [131]:
print(multiply(8, 3, 4))

96

In [132]:
print(multiply(1, 2, 3, 4, 5, 6))

720

In [135]:
def sum_args(*args):
    return sum([x for x in args])

In [136]:
sum_args(10, 15, -4)

21

In [137]:
def print_config(**kwargs):  
    for key, value in kwargs.items():  
        print(key, ": ", value)  
        
print_config(school="skillfactory")

school :  skillfactory

In [138]:
print_config(school="skillfactory", course="analytics", language="python")

school :  skillfactory
course :  analytics
language :  python

In [139]:
def show_keys(**kwargs):
    print(' '.join(kwargs.keys()))

show_keys(verbose=True, mode='constant')

verbose mode

In [152]:
def count_letters(sentence, average=False):
    sentence_list = sentence.split()
    result = [len(word) for word in sentence_list]
    
    if average == False:
        return sum(result)
    else:
        return sum(result) / len(result)

In [153]:
count_letters("Beep boop")

8

In [154]:
count_letters("Beep boop", average=True)

4.0

In [155]:
count_letters("I will build my own theme park")

24

In [156]:
print('%0.3f'% count_letters("I will build my own theme park", average=True))

3.429

In [151]:
def count_letters(sentence, average=False):
    list_sentence = sentence.split() # Создаем список слов.

    result = [len(word) for word in list_sentence] # Список с длинами слов.
    
    if average == False:
        return sum(result)
    else:
        return sum(result) / len(result)

In [157]:
words = ["sofa", "suitcase", "valise", "picture", "basket", "carton", "doggie"]
list(map(lambda w: sorted(w)[0], words))[5]

'a'

In [5]:
def always(n):
    return (lambda : n)

In [9]:
print('BONUS')

BONUS

In [10]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [11]:
#Not recommended
def Tworemainder(x)
    return x % 2

Divider = None
Firstnumber = None

SyntaxError: invalid syntax (<ipython-input-11-894f5c44fdde>, line 2)

In [12]:
#Recommended
def two_remainder(x)
    return x % 2

divider = None
first_number = None

SyntaxError: invalid syntax (<ipython-input-12-c3f72a50fea2>, line 2)

In [13]:
#Not recommended

def db(x):
    return x * 2

In [15]:
#Recommended
def multiply_by_two(x):
    return x * 2

In [ ]:
#Bad
my_list = None
data_structure = None
info_map = None

In [ ]:
#Absolutely not
dictionary_for_the_purpose_of_storing_data_representing_word_definitions = None

In [ ]:
#Good
user_profile = None
menu_options = None
word_definiton = None

In [ ]:
#Very bad
spisok_chisel = None
delitel = None

In [ ]:
#Good
numbers_list = None
divider = None

In [16]:
#Recommended - разделять пустыми пробелами-строками

class MyFirstClass:
    pass


class MySecondClass:
    pass


def first_function():
    return None


def second_function():
    return None

In [17]:
#даже в одной функцииразделять разные этапы

def calculate_variance(number_list):
    """Function to calculate variance"""
    sum_list = 0
    for number in number_list:
        sum_list = sum_list + number
    mean = sum_list / len(number_list)

    sum_squares = 0
    for number in number_list:
        sum_squares = sum_squares + number**2
    mean_squares = sum_squares / len(number_list) 

    return mean_squares - mean**2

In [ ]:
#Not recommended
with open('/path/to/some/file/you/want/to/read') as file_1, open('/path/to/some/file/being/written', 'w') as file_2:
    file_2.write(file_1.read())


#Recommended
with open('/path/to/some/file/you/want/to/read') as file_1, \
     open('/path/to/some/file/being/written', 'w') as file_2:
    file_2.write(file_1.read())

In [ ]:
#Нет: Бинарный оператор отдельно от операнда. #знаки переносить на новую строку
income = (gross_wages +
          taxable_interest +
          (dividends - qualified_dividends) -
          ira_deduction -
          student_loan_interest)


# Да: Бинарный оператор легко воспринимается вместе с операндом.
income = (gross_wages
          + taxable_interest
          + (dividends - qualified_dividends)
          - ira_deduction
          - student_loan_interest)

In [ ]:
#Скоька может закрываться в разынх местах - опрелелить для себя

# Yes
list_of_numbers = [
    1, 2, 3,
    4, 5, 6,
    7, 8, 9
    ]

#Yes
list_of_numbers = [
    1, 2, 3,
    4, 5, 6,
    7, 8, 9
]