# Связи таблиц
## Юнит 5. РАБОТА С БАЗАМИ ДАННЫХ. SQL
### Skillfactory: DSPR-19

### 3.1.1. Схема данных
### Задание 3.1.1
Сколько таблиц вы видите на схеме данных?  

Ответ: 5

### 3.1.2. Советы по написанию запросов
Вы уже научились писать простые SQL-запросы. Чем сложнее они будут становиться, тем сложнее их будет читать и ориентироваться в них. Каждый выбирает удобное ему форматирование и стиль написания, но мы приведем основные принципы, которым желательно следовать.

**Отступы и переносы строк**  
SQL не чувствителен к отступам и переносам строк внутри запроса, но желательно их делать, чтобы код был читабелен. На работе вы будете часто делиться кодом или читать свой старый код. Ниже приведены оба варианта.

Вариант без отступов и переносов:

In [ ]:
select city_id, city_name, state, population, area from city where city_id=104

Вариант с отступами и переносами:

In [ ]:
select 
     city_id, 
     city_name, 
     state, 
     population, 
     area 
from 
     city
where
     city_id = 104

**Указатели на таблицу**  
Несмотря на то, что пока мы работаем с одной таблицей внутри одного запроса, неплохо приучить себя к именованию таблиц и указанию, из какой таблицы берутся поля. Ведь поля с одинаковыми названиями могут содержаться в различных таблицах.

Синтаксис для таких действий очень простой: после указания имени таблицы используйте ключевое слово AS, а за ним укажите короткое имя, которое вы будете использовать для указания принадлежности полей. Ниже запрос с указанным коротким именем таблицы.

In [ ]:
select 
     c.city_id, 
     c.city_name, 
     c.state, 
     c.population, 
     c.area 
from 
     city as c
where
     c.city_id = 104

Ключевое слово AS можно опустить во многих СУБД. Такой запрос тоже будет работать:

In [ ]:
select 
     c.city_id, 
     c.city_name, 
     c.state, 
     c.population, 
     c.area 
from 
     city as c
where
     c.city_id = 104

### 3.1.3 Знакомство с датасетом. Таблица city

### Задание 3.3.1
Напишите запрос, который выводит справочник (все поля) городов штата Illinois.
(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select *
from city
where state = 'Illinois'

### Задание 3.3.2
Напишите запрос, который выводит количество городов с населением более 1000000.
(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select count(city_name)
from city
where population > 1000000

### 3.1.4. Знакомство с датасетом. Таблица customer

### Задание 3.4.1
Напишите запрос, который выводит среднюю выручку по каждой категории клиентов (cust_type).
(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select cust_type, avg(annual_revenue)
from customer
group by cust_type

### Задание 3.4.2
А теперь модифицируйте запрос, оставив название только тех типов клиентов, у которых среднегодовой доход больше 25 млн.
(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select cust_type, avg(annual_revenue) avg_annual_revenue
from customer
group by cust_type
having avg(annual_revenue)  > 25000000

### 3.1.5. Знакомство с датасетом. Таблица driver

### Задание 3.5.1
Напишите запрос, который позволит вывести фамилию водителя, не указавшего телефон.
(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select last_name
from driver
where phone is null

### 3.1.6. Знакомство с датасетом. Таблица truck

### Задание 3.6.1
Напишите запрос, который выведет количество уникальных производителей грузовиков.
(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select count(distinct make)
from truck

### 3.1.7. Знакомство с датасетом. Таблица shipment

### Задание 3.7.1
Напишите запрос, который выведет идентификатор и вес третьей по весу доставки (сортировка по убыванию).
(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select ship_id, weight
from shipment
order by weight desc 
offset 2
limit 1

### 3.1.8. Организация данных в БД
Для удобства часто разносят таблицы по разным схемам. Схема — это пространство в БД, объединяющее в себе таблицы и другие объекты, относящиеся к одному бизнес-процессу, источнику или пользователю в зависимости от архитектуры системы. Если проводить аналогию с файловой системой, то схема близка к папке, в которой лежат вложенные объекты (при этом внутри нее не может быть других папок).

По аналогии с папками схемы позволяют иметь таблицы с одинаковыми именами, но с различным наполнением. 

Чтобы указать схему, к которой отправить запрос нужно указать ее имя в разделе from перед именем таблицы.

In [ ]:
select 
    c.city_id, 
    c.city_name, 
    c.state, 
    c.population, 
    c.area 
from 
    shipping.city c
where
    c.city_id = 104

### Задание 3.8.1
Какие из перечисленных схем вы видите в Metabase?
Посмотрите в Metabase!  

Ответ:
- public
- shipping

### Задание 3.8.2
Напишите запрос к таблице books в схеме public и в схеме other. В какой из таблиц больше строк?
Посмотрите в Metabase!  

Ответ:
- в таблицах одинаковое число записей

In [ ]:
select count(*) 
from public.books

In [ ]:
select count(*) 
from other.books

### 3.1.9. Организация в Postgres
Каждая СУБД имеет специальную схему с таблицами, в которых хранятся данные обо всех объектах (таблицах, столбцах, связях и др.).  
В Postgres эта схема называется information_schema

### 3.1.10. information_schema.tables
`information_schema.tables` — это список всех таблиц.

К этой таблице можно обращаться, чтобы посмотреть имеющиеся в базе данных таблицы. Это делается так же, как и с обычной таблицей. 
С помощью такого запроса мы можем увидеть список всех таблиц, относящихся к нашему датасету.

In [ ]:
select 
    t.table_schema,
    t.table_name
from 
    information_schema.tables t
where 
    t.table_schema = 'shipping'

### Задание 3.10.1
Напишите запрос, который посчитает, сколько таблиц в схеме public.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select 
    t.table_schema, count(t.table_name)
from 
    information_schema.tables t
where 
    t.table_schema = 'public'
group by 
    t.table_schema

In [ ]:
# Показывает ответ цифрой, ответ принимается платформой
select 
    count(t.table_name)
from 
    information_schema.tables t
where 
    t.table_schema = 'public'

### 3.1.11. information_schema.columns
С помощью таблицы information_schema.columns можно посмотреть данные обо всех столбцах в таблицах, их типах и свойствах.  

С помощью такого запроса мы можем увидеть список всех полей и их типов в таблице city в схеме shipping.

In [ ]:
select 
    c.table_schema,
    c.table_name,
    c.column_name,
    c.data_type,
    c.ordinal_position
from 
    information_schema.columns c
where 
    c.table_schema = 'shipping'
    and c.table_name = 'city'

### Задание 3.11.1
Напишите запрос, который выведет самый частый тип в таблицах схемы public.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select 
    c.data_type
from 
    information_schema.columns c
where 
    c.table_schema = 'public'
group by 
    c.data_type
order by 
    count(c.data_type) desc
limit 1

### Задание 3.11.2
Напишите запрос, который выведет количество таблиц в схеме shipping, в которых есть столбцы типа numeric.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select 
     count(c.data_type)
from 
     information_schema.columns c
where 
     c.table_schema = 'shipping' and
     c.data_type = 'numeric'

### 3.1.12. information_schema.table_constraints
Таблица, в которой хранится информация о первичных и внешних ключах в таблицах.

С помощью такого запроса мы можем увидеть все ключи таблицы shipment нашего датасета.

In [ ]:
select 
    c.table_schema,
    c.table_name,
    c.constraint_name,
    c.constraint_type
from 
    information_schema.table_constraints c
where 
    c.table_schema = 'shipping'
    and c.table_name = 'shipment'
    and c.constraint_type in ('PRIMARY KEY','FOREIGN KEY')

### Задание 3.12.1
Напишите запрос, который выведет количество таблиц с первичными ключами в схеме public.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select 
    count(c.table_name)
from 
    information_schema.table_constraints c
where 
    c.table_schema = 'public'
    and c.constraint_type in ('PRIMARY KEY')