# Соединения таблиц
## Юнит 5. РАБОТА С БАЗАМИ ДАННЫХ. SQL
### Skillfactory: DSPR-19

### 3.2.1. JOIN. Синтаксис

JOIN — оператор для выполнения соединений. Его нужно писать в разделе from между таблицами, которые хотим соединить. Оператор JOIN позволяет добавить к кортежам одной таблицы кортеж другой.

In [ ]:
from table1 t1 join table2 t2

После такой конструкции в разделе on нужно указать условие, по которому мы будем соединять таблицы. Правила написания здесь такие же, как и в where, только здесь используются столбцы из обеих соединяемых таблиц.

In [ ]:
from table1 t1 join table2 t2 on t1.id = t2.fk_id

Это значит, что к таблице t1 мы присоединяем таблицу t2, к записям из t1 присоединяем только те из t2,  в которых fk_id соответствует id из t1

Чтобы соединить таблицу information_schema.tables с таблицей information_schema.columns, нам нужно написать запрос, в котором мы укажем обе таблицы через JOIN и затем в разделе on укажем правило, по которому их нужно соединять — совпадает ли название таблицы и её схема.

In [ ]:
select 
     * --раздел select остается неизменным
from 
     information_schema."tables" t -- указываем первую таблицу, не забываем дать alias
     join information_schema.columns c -- пишем join на вторую таблицу 
         on t.table_name = c.table_name 
         and t.table_schema = c.table_schema 
-- в разделе ON пишем логическое условие любой сложности
Ключевое слово INNER писать необязательно. Если просто написать JOIN

Результатом такого запроса будет таблица, в которой будут все столбцы из первой и из второй таблицы — сначала из tables, потом из соответствующих ей columns. 

Ключевое слово INNER писать необязательно. Если просто написать JOIN, то он по умолчанию будет считаться внутренним (INNER).

### Задание 3.2.1.1
Почему в запросе указано соединение и по table_name, и по table_schema?

Ответ: Потому что в разных схемах могут быть таблицы с одинаковыми именами

### 3.2.2. Комментирование

Чтобы код был читаемым и понятным, хороший аналитик всегда оставляет подсказки и разъяснения прямо в коде. 

В различных СУБД для комментирования используются разные символы, в Postgres это два дефиса (--). Все символы, которые идут в строке после двух дефисов, будут игнорироваться исполнителем запроса и не будут влиять на результат.

### Задание 3.2.2.1
Напишите запрос в Metabase, который считает среднее население города в таблице shipping.city. Сохраните или скопируйте его результат.

После этого в поле ответа напишите запрос, который выводит количество городов с населением выше среднего (подставив результат предыдущего запроса в условие) и оставьте любой комментарий, объясняющий, откуда было взято это число.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
Получена из этого запроса:
 select avg(population) from shipping.city
 165718.755407653910
*/
SELECT count(c.city_id) -- count(DISTINCT city_name) этот вариант платформа приняла
FROM city c
WHERE population > 165718.76 -- 165718.755407653910


-- |------
-- | Второе решение - более точное. Так как отбрасывает повторяющиеся города
-- |
SELECT 
    count(DISTINCT city_name)
FROM city
WHERE population > (select avg(population) from city LIMIT 1)

### Многострочное комментирование
Можно не просто комментировать строки, но и написать любой объемный комментарий, используя блок из символов */.

Например:

In [ ]:
select 
     * /*мы указали звездочку, чтобы выбрать все поля*/
from 
     information_schema."tables" t 
      join information_schema.columns c 
        on t.table_name = c.table_name 
        and t.table_schema = c.table_schema
/*
в этом примере мы изучили 
- синтаксис оператора JOIN
- возможности комментирования кода
*/

Такой комментарий может располагаться где угодно в коде, содержать переносы строк и любые символы. Все, что лежит между /* и */, не будет влиять на выполнение запроса. 

Помимо смыслового описания запросов, комментирование используется в процессе написания запроса: если нам нужно убрать какой-то кусок запроса для проверки, мы можем закомментировать блок кода и выполнить оставшуюся часть.

Возьмите запрос, который мы разбирали, и скопируйте в Metabase.

In [ ]:
select 
     t.table_name,c.column_name 
from 
     information_schema."tables" t 
      join information_schema.columns c 
        on t.table_name = c.table_name 
        and t.table_schema = c.table_schema 
where t.table_schema = 'shipping'

Попробуйте закомментировать:

раздел where;
одну из колонок;
одно из условий в join;
весь блок join.
Посмотрите, как меняется результат запроса.

### Задание 3.2.2.2
Напишите запрос в Metabase, который считает среднюю площадь города в таблице shipping.city. После этого в поле ответа напишите запрос, который выводит количество городов с площадью выше среднего (подставив результат предыдущего запроса в условие), и оставьте любой комментарий, объясняющий откуда было взято это число, указав код первого запроса, который вы получили в многострочном комментарии.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
SELECT 
     city_name , area 
FROM shipping.city c 
ORDER BY 2 DESC

In [ ]:
/*
Средняя площадь города получена из этого запроса:
select avg(area) from shipping.city
Результат: 56.7266222961730449
*/
SELECT 
     count(DISTINCT city_name)
FROM shipping.city
WHERE area > 56.7266222961730449

-- этот вариант платформа не принимает

In [ ]:
-- этот вариант платформа приняла
select count(city_name)
from shipping.city
where area > 56.7266222961730449

/*
select avg(area) 
from shipping.city
*/

In [ ]:
В примере запроса, который мы разбирали, в списке полей указана *.

In [ ]:
select 
     * --раздел select остается неизменным
from 
     information_schema."tables" t -- указываем первую таблицу, не забываем дать alias
       join information_schema.columns c -- пишем join на вторую таблицу 
         on t.table_name = c.table_name 
         and t.table_schema = c.table_schema 
-- в разделе ON пишем логическое условие любой сложности

Но при наличии нескольких таблиц в запросе это используется только тогда, когда вы исследуете данные и проверяете работоспособность запроса. 

Если таблиц несколько, лучше явно указать, из какой таблицы и какие поля вы будете брать.

Также возможен следующий синтаксис (применимо не только для join): <table_name>.* . Такая конструкция подразумевает вывод всех столбцов конкретной таблицы. В примере ниже -— вывод всех столбцов таблицы columns.

In [ ]:
select 
     c.* 
from 
     information_schema."tables" t
       join information_schema.columns c 
         on t.table_name = c.table_name 
         and t.table_schema = c.table_schema

### 3.2.3. Работа с INNER JOIN

Для соединения таблиц чаще всего используются их ключи, например таблица shipping.shipment связана с таблице shipping.driver по полю driver_id, то есть для их соединения нужно указать условие равенства полей driver_id в обеих таблицах.

In [ ]:
select *
     from
         shipping.shipment s
             join shipping.driver d on s.driver_id = d.driver_id

### Задание 3.2.3.1
Напишите запрос, который соединяет таблицу доставок с таблицей городов по ключам и выводит все их столбцы.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select *
from shipping.shipment s 
join shipping.city c on s.city_id = c.city_id

Объединив две таблицы, мы можем обращаться ко всем их столбцам в любом порядке.

In [ ]:
select 
     s.ship_id, 
     d.last_name,
     s.truck_id,
     d.phone
from
     shipping.shipment s
       join shipping.driver d on s.driver_id = d.driver_id

Главное — помнить про указание имени таблицы, из которой берется поле.

Без указания имени запрос не выполнится, а вернет ошибку "SQL Error [42702]: ERROR: column reference "city_id" is ambiguous". Это происходит потому, что столбец с именем city_id есть в обеих таблицах, а обозначает разное.

Даже если мы выводим столбец, который совпадает в таблицах по нашему условию объединения, всё равно необходимо указать имя таблицы:

In [ ]:
select 
     s.driver_id,
     d.driver_id
from
     shipping.shipment s
        join shipping.driver d on s.driver_id = d.driver_id

### Задание 3.2.3.2
Выведите все уникальные пары идентификаторов города доставки и города клиента, имеющиеся в таблице с доставками.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select distinct s.city_id, c.city_id
from shipping.shipment s 
join shipping.customer c 
on s.cust_id = c.cust_id

### Группировка и сортировка
После объединения таблиц можно использовать все уже изученные функции группировки и сортировки:

In [ ]:
select 
     d.last_name,
     count(distinct s.city_id) uniq_cities
from
     shipping.shipment s
        join shipping.driver d on s.driver_id = d.driver_id
group by d.last_name
order by count(distinct s.city_id) desc
limit 5
offset 1

### Задание 3.2.3.3
Выведите название второго города по числу доставок и количество доставок в нем.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select c.city_name, count(s.ship_id) count_ship
from shipping.shipment s 
join shipping.city c 
on s.city_id = c.city_id 
group by c.city_name
order by count_ship desc 
offset 1 
limit 1

### Другие поля и операторы  
Для объединения таблиц не всегда используются ключи и операторы равенства, можно использовать любые другие поля и операторы. Также можно соединять таблицу с самой собой, задав ей новый алиас (alias). 

Следующий запрос выводит список всех грузовиков, выпущенных не раньше грузовика с идентификатором 8, исключая этот грузовик:

In [ ]:
select t1.*
from shipping.truck t 
join shipping.truck t1 
on t.model_year <= t1.model_year and t.truck_id != t1.truck_id
where t.truck_id = 8

### Задание 3.2.3.4
Выведите среднее население, среднюю площадь и плотность населения городов, чья площадь больше города Paramount. Плотность населения в этом задании рассчитывается как сумма населения, деленная на сумму площади.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
-- посмотрели id города, чтобы задать его в дальнейшем
select * 
from shipping.city
where city_name = 'Paramount'

select 
avg(c2.population) avg_population, 
avg(c2.area) avg_area, 
sum(c2.population)/sum(c2.area) avg_density

from shipping.city c1 
join shipping.city c2
on c1.area < c2.area and c1.city_id != c2.city_id 
where c1.city_id = 109

### Соединение более двух таблиц
Если нужно соединить более двух таблиц, требуется лишь написать еще один JOIN после уже имеющегося:

In [ ]:
select 
.....
from 
table_A 
join table_B on ...
join table_C on ...
join table_D on ...

В случае INNER JOIN порядок таблиц не имеет значения, но рекомендуется выстраивать их в смысловом порядке. Также необходимо, чтобы в левой части запроса (до join) были все столбцы, на которые накладываются условия. В противном случае запрос выполнится с ошибкой.

Следующий запрос выводит количество доставок по дате, году выпуска грузовика и названию города доставки:

In [ ]:
select 
        s.ship_date,
        t.model_year,
        c.city_name,
        count(*) shipments
from 
        shipping.shipment s
            join shipping.truck t on s.truck_id = t.truck_id
            join shipping.city c on s.city_id = c.city_id
group by
        s.ship_date,
        t.model_year,
        c.city_name

### Задание 3.2.3.5
Выведите имена и фамилии водителей, которые совершали доставки, а также из какого города они родом. Отдельным столбцом выведите последнюю дату таких доставок. Отсортируйте по фамилии водителя в алфавитном порядке.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select 
d.first_name, 
d.last_name, 
c.city_name, 
max(s.ship_date) max_ship_date

from 
shipping.driver d
join shipping.city c on c.city_id = d.city_id
join shipping.shipment s on d.driver_id = s.driver_id 
group by 
d.first_name, 
d.last_name, 
c.city_name 
order by d.last_name

### Задание 3.2.3.6
Посчитайте количество доставок и среднюю массу груза в разрезе клиентов и города доставки. Выведите таблицу со следующими полями: имя клиента, город доставки, количество доставок и средняя масса груза. Отсортируйте по имени клиента в алфавитном порядке, затем по массе среднего груза по убыванию.

Подсказка: количество доставок и средняя масса груза содержатся в таблице shipment, имя клиента содержится в таблице customer, а название городов — в таблице city.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select
cu.cust_name, 
ci.city_name, 
count(s.ship_id) count_shipping, 
avg(s.weight) avg_weight

from shipping.shipment s 
join shipping.customer cu on cu.cust_id = s.cust_id 
join shipping.city ci on ci.city_id = s.city_id 
group by cu.cust_name, ci.city_name 
order by cu.cust_name, avg_weight desc

### 3.2.4. OUTER JOIN. Виды

Помимо внутреннего соединения существует внешнее соединение — OUTER JOIN.

Синтаксически он ничем не отличается от INNER JOIN, поэтому все уже знакомые нам правила написания кода будут работать и здесь.

Есть следующие типы внешнего соединения:  

- LEFT 
- RIGHT 
- FULL  

Для понимания того, как устроены соединения в SQL, часто используют диаграммы Венна. Они помогают пространственно представить, как объединяются таблицы.

### Задание 3.2.4.1
Напишите запрос, который выводит все названия штатов и количество клиентов в них, используя LEFT JOIN. Упорядочите список штатов по количеству клиентов по убыванию, а затем по штату в алфавитном порядке.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select 
ci.state customer_state, 
count(cu.cust_id) customer_count 
from shipping.city ci
left join shipping.customer cu on ci.city_id = cu.city_id 
group by ci.state
order by customer_count desc, customer_state

### 3.2.5. OUTER JOIN. LEFT JOIN
Если говорить про бизнес-применение LEFT JOIN, то их два:

Первое и основное — подтянуть данные к основной таблице из другой таблицы, в которой данных может и не быть. 
Также он применяется  при желании проверить, что не существует записей, «связанных» с левой таблицей. Например, используя LEFT JOIN и проверку IS_NULL, можно найти клиентов, которые никогда не совершали заказ.

In [ ]:
select c.cust_id
from shipping.customer c 
left join shipping.shipment s on c.cust_id = s.cust_id
where s.ship_id is null

Следует помнить: если применить какое-то условие на правую таблицу в разделе  where, то для его выполнения потребуется наличие данных, и join превратится в inner.

Разберем на примере.

Возьмем два города: в один город доставки есть, а в другой — нет:

In [ ]:
select 
    c.city_id, 
    c.city_name,
    s.ship_id
from shipping.city c
    left join shipping.shipment s on s.city_id = c.city_id
where c.city_id in (697,698)

Теперь попробуем отфильтровать доставки с весом более 1000 кг:

In [ ]:
select 
    c.city_id, 
    c.city_name,
    s.ship_id
from shipping.city c
    left join shipping.shipment s on s.city_id = c.city_id
where c.city_id in (697,698) and s.weight > 1000

Как мы видим из результата запроса, строка с городом 698 исчезла, т. к. в этот город нет доставок. Так получилось потому, что для кортежа (cust_id,city_name,weight) по конкретному городу в столбце weight содержался NULL. Значение NULL не сравнимо ни с чем и при использовании с любыми математическими и логическими операторами, кроме OR (логическое ИЛИ), и возвращает в результате NULL.

### Задание 3.2.5.1
Выполните следующие запросы в Metabase и проверьте, какие из них возвращают значение, отличное от null  

select true and null  
select true or null  
select null is null  
select null = null  

Ответ:  
- select true or null
- select null is null

### Задание 3.2.5.2
Напишите запрос, который выводит названия городов, куда осуществлялись доставки, но их вес меньше 10000. Используйте несколько операторов JOIN на таблицу с доставками. Отсортируйте по названию города.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select ci.city_name
from shipment s
join shipment as s2 on s.weight=s2.weight
left join city as ci on s2.city_id=ci.city_id
where s.weight < 10000
group by ci.city_name
order by ci.city_name

### Задание 3.2.5.3
Напишите запрос, который выдает сводную статистику по городам: количество клиентов, заказов и водителей. Оставьте города, в которых хотя бы один из этих показателей ненулевой, и отсортируйте по первому столбцу. Используйте left join для таблицы с городами.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select 
ci.city_name,
count(distinct cu.cust_id),
count(distinct s.ship_id),
count(distinct d.driver_id)

from city ci
left join customer cu on cu.city_id = ci.city_id
left join driver d on d.city_id = ci.city_id 
left join shipment s on s.city_id = ci.city_id 
group by ci.city_name
having (count(cu.cust_id) + count(s.ship_id) + count(d.driver_id) ) > 0
order by 1

### 3.2.6. FULL OUTER JOIN
FULL OUTER JOIN чаще всего встречается в ситуациях, когда схема данных недостаточно нормализованна и нет единых справочников. По сути этот оператор объединяет LEFT и RIGHT JOIN и позволяет сохранить все кортежи из обеих таблиц, связать удовлетворяющие условиям и оставить пустыми кортежи, для которых не нашлось связных.  

Для понимания механизма работы давайте разберем следующую задачу: вывести количество клиентов и количество водителей в каждом из почтовых индексов (zip code в нашем датасете). Отсортировать по сумме водителей и клиентов. 

Разберемся, зачем здесь нужен FULL JOIN. В таблице customer и в таблице driver почтовые коды могут совсем не пересекаться, поэтому INNER JOIN не вернет данные по тем почтовым индексам, где нет ни водителей, ни клиентов.  

Проверьте, что по этому запросу в Metabase окажется всего одна строчка результата.

In [ ]:
select 
        c.zip,
        count(distinct c.cust_id) customers,
        count(distinct d.driver_id) drivers
from 
        shipping.customer c
            inner join shipping.driver d on c.zip = d.zip_code
group by 1
having count(distinct c.cust_id) + count(distinct d.driver_id) >0
order by  count(distinct c.cust_id) + count(distinct d.driver_id)  desc

При INNER JOIN останутся только те кортежи, в которых удовлетворяется условие соединения.

С помощью LEFT JOIN мы можем подтянуть либо ко всем почтовым индексам клиентов соотвествующие индексы водителя, либо ко всем водителям — клиентов.

Найдем те почтовые индексы клиентов, которые есть у клиентов, но нет у водителей. Выполните запрос в Metabase и убедитесь, что такие записи есть.

In [ ]:
select 
        count(*)
from shipping.customer c
        left join  shipping.driver d on c.zip = d.zip_code
where d.zip_code is null

Проделаем обратную операцию. Убедитесь, что такие записи есть.

In [ ]:
select 
        count(*)
from  shipping.driver d
        left join  shipping.customer c on c.zip = d.zip_code
where c.zip is null

На помощь нам придет FULL OUTER JOIN. С его помощью можно решить эту задачу, и результатом будет следующий SQL-запрос:

In [ ]:
select 
        coalesce(c.zip,d.zip_code) zip,
        count(distinct c.cust_id) customers,
        count(distinct d.driver_id) drivers
from 
        shipping.customer c
            full outer join shipping.driver d on c.zip = d.zip_code
group by 1
having count(distinct c.cust_id) + count(distinct d.driver_id) >0
order by  count(distinct c.cust_id) + count(distinct d.driver_id)  desc

Синтаксически он мало чем отличается от всех предыдущих JOIN. Интереса заслуживает оператор COALESCE. 

СOALESCE возвращает первый попавшийся аргумент, отличный от NULL. Если же все аргументы равны NULL, результатом тоже будет NULL. Это часто используется при отображении данных для подстановки некоторого значения по умолчанию вместо значений NULL.

В данном примере, если будет заполнен столбец c.zip, то будет взят он, если же значение c.zip пустое (NULL), то будет взято значение d.zip_code, даже если оно пустое:

In [ ]:
coalesce(c.zip,d.zip_code) zip

А в этом примере, если значение d.zip_code будет пустым, то будет подставлено значение 123456 — это значение будет значением по умолчанию:

In [ ]:
coalesce(c.zip,d.zip_code,'123456') zip

### Задание 3.2.6.1
Напишите запрос, который выведет имена всех водителей и их телефоны. В случае, если телефон не заполнен, укажите номер из одних девяток в том же формате. Отсортируйте по имени водителя в алфавитном порядке.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select 
d.first_name ,
coalesce(d.phone, '(999) 999-9999') phone
from driver d 
order by 1

### Задание 3.2.6.2
Напишите запрос, который выдает сводную статистику по городам (для идентификации используйте city_id): количество клиентов, заказов и водителей. Не используйте таблицу shipping.city. Оставьте города, в которых хотя бы один из этих показателей ненулевой, отсортируйте по столбцу с id города.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select 
coalesce(s.city_id, d.city_id, c.city_id) city_id,
count(distinct c.cust_id),
count(distinct s.ship_id),
count(distinct d.driver_id)

from customer c
full outer join shipment s on c.city_id = s.city_id
full outer join driver d on d.city_id = s.city_id 
group by 1
having (count(c.cust_id) + count(s.ship_id) + count(d.driver_id)) > 0
order by 1

### 3.2.7. CROSS JOIN
Можно осуществлять соединение не только по какому-то условию. Есть возможность соединить каждую запись таблицы с каждой, получив декартово произведение этих таблиц.

Для этой операции используется специальный оператор CROSS JOIN. Его синтаксис отличается от синтаксиса предыдущих операторов отсутствием условия.

Данным запросом к каждой записи водителя мы присоединим все записи с клиентами.

In [ ]:
select *
from 
shipping.driver 
cross join shipping.customer

Альтернативным синтаксисом для CROSS JOIN является просто указание всех таблиц в разделе from через запятую. Это устаревший формат, так как он имеет низкую читабельность. Тем не менее такой синтаксис поддерживается большинством СУБД.

In [ ]:
select *
from shipping.driver,shipping.customer

Также обычный JOIN может перемножить строки, если вместо условия соединения указать логическое true.

In [ ]:
select *
from shipping.driver join shipping.customer on true

Основным применением такого рода JOIN является составление справочников, получение всех возможных комбинаций (для основной таблицы, к которой LEFT JOIN потом будет подтягивать агрегатные метрики), а в дальнейшем создание сводных таблиц в BI-средствах.

Хочется отметить, что такой JOIN может сгенерировать очень большое число записей, что сильно скажется на производительности запроса, поэтому его стараются применять реже и на небольших таблицах.

### Задание 3.2.7.1
Напишите запрос, который выводит все возможные уникальные пары даты доставки и имени водителя, упорядоченные по дате и имени по возрастанию.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select distinct s.ship_date, d.first_name 
from driver d 
cross join shipment s
order by 1, 2

#### Ещё одна возможность использования CROSS JOIN
Помимо прямого использования, CROSS JOIN иногда используется вместо INNER JOIN. Для этого нужно поместить условие объединения в where. Наш первый пример из блока INNER JOIN может быть записан вот так (настоятельно рекомендуем не пользоваться такой записью, так как это ухудшает читаемость кода, но стоит быть готовым к такому написанию.):

In [ ]:
select 
        count(*) --раздел select остается неизменным
from 
        information_schema."tables" t -- указываем первую таблицу, не забываем дать alias
            cross join information_schema.columns c -- пишем join на вторую таблицу 
where  t.table_name = c.table_name 
                and t.table_schema = c.table_schema 
-- в разделе where пишется логическое условие любой сложности

### Задание 3.2.7.2
Перепишите следующий запрос, не используя CROSS JOIN:

In [ ]:
select 
        s.ship_date,
        max(c.area) area,
        min(t.model_year) model_year
from 
        shipping.shipment s,
        shipping.city c,
        shipping.truck t
where 
        s.city_id = c.city_id
        and s.truck_id = t.truck_id
group by 1
order by 1

Результат:

In [ ]:
select 
        s.ship_date,
        max(c.area) area,
        min(t.model_year) model_year
from 
        shipping.shipment s
        left join shipping.city c on s.city_id = c.city_id 
        left join shipping.truck t on s.truck_id = t.truck_id 
group by 1
order by 1