# Соединения таблиц
## Юнит 5. РАБОТА С БАЗАМИ ДАННЫХ. SQL
### Skillfactory: DSPR-19

### 3.2.1. JOIN. Синтаксис

JOIN — оператор для выполнения соединений. Его нужно писать в разделе from между таблицами, которые хотим соединить. Оператор JOIN позволяет добавить к кортежам одной таблицы кортеж другой.

In [ ]:
from table1 t1 join table2 t2

После такой конструкции в разделе on нужно указать условие, по которому мы будем соединять таблицы. Правила написания здесь такие же, как и в where, только здесь используются столбцы из обеих соединяемых таблиц.

In [ ]:
from table1 t1 join table2 t2 on t1.id = t2.fk_id

Это значит, что к таблице t1 мы присоединяем таблицу t2, к записям из t1 присоединяем только те из t2,  в которых fk_id соответствует id из t1

Чтобы соединить таблицу information_schema.tables с таблицей information_schema.columns, нам нужно написать запрос, в котором мы укажем обе таблицы через JOIN и затем в разделе on укажем правило, по которому их нужно соединять — совпадает ли название таблицы и её схема.

In [ ]:
select 
     * --раздел select остается неизменным
from 
     information_schema."tables" t -- указываем первую таблицу, не забываем дать alias
     join information_schema.columns c -- пишем join на вторую таблицу 
         on t.table_name = c.table_name 
         and t.table_schema = c.table_schema 
-- в разделе ON пишем логическое условие любой сложности
Ключевое слово INNER писать необязательно. Если просто написать JOIN

Результатом такого запроса будет таблица, в которой будут все столбцы из первой и из второй таблицы — сначала из tables, потом из соответствующих ей columns. 

Ключевое слово INNER писать необязательно. Если просто написать JOIN, то он по умолчанию будет считаться внутренним (INNER).

### Задание 3.2.1.1
Почему в запросе указано соединение и по table_name, и по table_schema?

Ответ: Потому что в разных схемах могут быть таблицы с одинаковыми именами

### 3.2.2. Комментирование

Чтобы код был читаемым и понятным, хороший аналитик всегда оставляет подсказки и разъяснения прямо в коде. 

В различных СУБД для комментирования используются разные символы, в Postgres это два дефиса (--). Все символы, которые идут в строке после двух дефисов, будут игнорироваться исполнителем запроса и не будут влиять на результат.

### Задание 3.2.2.1
Напишите запрос в Metabase, который считает среднее население города в таблице shipping.city. Сохраните или скопируйте его результат.

После этого в поле ответа напишите запрос, который выводит количество городов с населением выше среднего (подставив результат предыдущего запроса в условие) и оставьте любой комментарий, объясняющий, откуда было взято это число.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
Получена из этого запроса:
 select avg(population) from shipping.city
 165718.755407653910
*/
SELECT count(c.city_id) -- count(DISTINCT city_name) этот вариант платформа приняла
FROM city c
WHERE population > 165718.76 -- 165718.755407653910


-- |------
-- | Второе решение - более точное. Так как отбрасывает повторяющиеся города
-- |
SELECT 
    count(DISTINCT city_name)
FROM city
WHERE population > (select avg(population) from city LIMIT 1)

### Многострочное комментирование
Можно не просто комментировать строки, но и написать любой объемный комментарий, используя блок из символов */.

Например:

In [ ]:
select 
     * /*мы указали звездочку, чтобы выбрать все поля*/
from 
     information_schema."tables" t 
      join information_schema.columns c 
        on t.table_name = c.table_name 
        and t.table_schema = c.table_schema
/*
в этом примере мы изучили 
- синтаксис оператора JOIN
- возможности комментирования кода
*/

Такой комментарий может располагаться где угодно в коде, содержать переносы строк и любые символы. Все, что лежит между /* и */, не будет влиять на выполнение запроса. 

Помимо смыслового описания запросов, комментирование используется в процессе написания запроса: если нам нужно убрать какой-то кусок запроса для проверки, мы можем закомментировать блок кода и выполнить оставшуюся часть.

Возьмите запрос, который мы разбирали, и скопируйте в Metabase.

In [ ]:
select 
     t.table_name,c.column_name 
from 
     information_schema."tables" t 
      join information_schema.columns c 
        on t.table_name = c.table_name 
        and t.table_schema = c.table_schema 
where t.table_schema = 'shipping'

Попробуйте закомментировать:

раздел where;
одну из колонок;
одно из условий в join;
весь блок join.
Посмотрите, как меняется результат запроса.

### Задание 3.2.2.2
Напишите запрос в Metabase, который считает среднюю площадь города в таблице shipping.city. После этого в поле ответа напишите запрос, который выводит количество городов с площадью выше среднего (подставив результат предыдущего запроса в условие), и оставьте любой комментарий, объясняющий откуда было взято это число, указав код первого запроса, который вы получили в многострочном комментарии.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
SELECT 
     city_name , area 
FROM shipping.city c 
ORDER BY 2 DESC

In [ ]:
/*
Средняя площадь города получена из этого запроса:
select avg(area) from shipping.city
Результат: 56.7266222961730449
*/
SELECT 
     count(DISTINCT city_name)
FROM shipping.city
WHERE area > 56.7266222961730449

-- этот вариант платформа не принимает

In [ ]:
-- этот вариант платформа приняла
select count(city_name)
from shipping.city
where area > 56.7266222961730449

/*
select avg(area) 
from shipping.city
*/

In [ ]:
В примере запроса, который мы разбирали, в списке полей указана *.

In [ ]:
select 
     * --раздел select остается неизменным
from 
     information_schema."tables" t -- указываем первую таблицу, не забываем дать alias
       join information_schema.columns c -- пишем join на вторую таблицу 
         on t.table_name = c.table_name 
         and t.table_schema = c.table_schema 
-- в разделе ON пишем логическое условие любой сложности

Но при наличии нескольких таблиц в запросе это используется только тогда, когда вы исследуете данные и проверяете работоспособность запроса. 

Если таблиц несколько, лучше явно указать, из какой таблицы и какие поля вы будете брать.

Также возможен следующий синтаксис (применимо не только для join): <table_name>.* . Такая конструкция подразумевает вывод всех столбцов конкретной таблицы. В примере ниже -— вывод всех столбцов таблицы columns.

In [ ]:
select 
     c.* 
from 
     information_schema."tables" t
       join information_schema.columns c 
         on t.table_name = c.table_name 
         and t.table_schema = c.table_schema

### 3.2.3. Работа с INNER JOIN

Для соединения таблиц чаще всего используются их ключи, например таблица shipping.shipment связана с таблице shipping.driver по полю driver_id, то есть для их соединения нужно указать условие равенства полей driver_id в обеих таблицах.

In [ ]:
select *
     from
         shipping.shipment s
             join shipping.driver d on s.driver_id = d.driver_id

### Задание 3.2.3.1
Напишите запрос, который соединяет таблицу доставок с таблицей городов по ключам и выводит все их столбцы.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select *
from shipping.shipment s 
join shipping.city c on s.city_id = c.city_id

Объединив две таблицы, мы можем обращаться ко всем их столбцам в любом порядке.

In [ ]:
select 
     s.ship_id, 
     d.last_name,
     s.truck_id,
     d.phone
from
     shipping.shipment s
       join shipping.driver d on s.driver_id = d.driver_id

Главное — помнить про указание имени таблицы, из которой берется поле.

Без указания имени запрос не выполнится, а вернет ошибку "SQL Error [42702]: ERROR: column reference "city_id" is ambiguous". Это происходит потому, что столбец с именем city_id есть в обеих таблицах, а обозначает разное.

Даже если мы выводим столбец, который совпадает в таблицах по нашему условию объединения, всё равно необходимо указать имя таблицы:

In [ ]:
select 
     s.driver_id,
     d.driver_id
from
     shipping.shipment s
        join shipping.driver d on s.driver_id = d.driver_id

### Задание 3.2.3.2
Выведите все уникальные пары идентификаторов города доставки и города клиента, имеющиеся в таблице с доставками.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select distinct s.city_id, c.city_id
from shipping.shipment s 
join shipping.customer c 
on s.cust_id = c.cust_id

### Группировка и сортировка
После объединения таблиц можно использовать все уже изученные функции группировки и сортировки:

In [ ]:
select 
     d.last_name,
     count(distinct s.city_id) uniq_cities
from
     shipping.shipment s
        join shipping.driver d on s.driver_id = d.driver_id
group by d.last_name
order by count(distinct s.city_id) desc
limit 5
offset 1

### Задание 3.2.3.3
Выведите название второго города по числу доставок и количество доставок в нем.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select c.city_name, count(s.ship_id) count_ship
from shipping.shipment s 
join shipping.city c 
on s.city_id = c.city_id 
group by c.city_name
order by count_ship desc 
offset 1 
limit 1

### Другие поля и операторы  
Для объединения таблиц не всегда используются ключи и операторы равенства, можно использовать любые другие поля и операторы. Также можно соединять таблицу с самой собой, задав ей новый алиас (alias). 

Следующий запрос выводит список всех грузовиков, выпущенных не раньше грузовика с идентификатором 8, исключая этот грузовик:

In [ ]:
select t1.*
from shipping.truck t 
join shipping.truck t1 
on t.model_year <= t1.model_year and t.truck_id != t1.truck_id
where t.truck_id = 8

### Задание 3.2.3.4
Выведите среднее население, среднюю площадь и плотность населения городов, чья площадь больше города Paramount. Плотность населения в этом задании рассчитывается как сумма населения, деленная на сумму площади.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
-- посмотрели id города, чтобы задать его в дальнейшем
select * 
from shipping.city
where city_name = 'Paramount'

select 
avg(c2.population) avg_population, 
avg(c2.area) avg_area, 
sum(c2.population)/sum(c2.area) avg_density

from shipping.city c1 
join shipping.city c2
on c1.area < c2.area and c1.city_id != c2.city_id 
where c1.city_id = 109

### Соединение более двух таблиц
Если нужно соединить более двух таблиц, требуется лишь написать еще один JOIN после уже имеющегося:

In [ ]:
select 
.....
from 
table_A 
join table_B on ...
join table_C on ...
join table_D on ...

В случае INNER JOIN порядок таблиц не имеет значения, но рекомендуется выстраивать их в смысловом порядке. Также необходимо, чтобы в левой части запроса (до join) были все столбцы, на которые накладываются условия. В противном случае запрос выполнится с ошибкой.

Следующий запрос выводит количество доставок по дате, году выпуска грузовика и названию города доставки:

In [ ]:
select 
        s.ship_date,
        t.model_year,
        c.city_name,
        count(*) shipments
from 
        shipping.shipment s
            join shipping.truck t on s.truck_id = t.truck_id
            join shipping.city c on s.city_id = c.city_id
group by
        s.ship_date,
        t.model_year,
        c.city_name

### Задание 3.2.3.5
Выведите имена и фамилии водителей, которые совершали доставки, а также из какого города они родом. Отдельным столбцом выведите последнюю дату таких доставок. Отсортируйте по фамилии водителя в алфавитном порядке.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select 
d.first_name, 
d.last_name, 
c.city_name, 
max(s.ship_date) max_ship_date

from 
shipping.driver d
join shipping.city c on c.city_id = d.city_id
join shipping.shipment s on d.driver_id = s.driver_id 
group by 
d.first_name, 
d.last_name, 
c.city_name 
order by d.last_name

### Задание 3.2.3.6
Посчитайте количество доставок и среднюю массу груза в разрезе клиентов и города доставки. Выведите таблицу со следующими полями: имя клиента, город доставки, количество доставок и средняя масса груза. Отсортируйте по имени клиента в алфавитном порядке, затем по массе среднего груза по убыванию.

Подсказка: количество доставок и средняя масса груза содержатся в таблице shipment, имя клиента содержится в таблице customer, а название городов — в таблице city.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select
cu.cust_name, 
ci.city_name, 
count(s.ship_id) count_shipping, 
avg(s.weight) avg_weight

from shipping.shipment s 
join shipping.customer cu on cu.cust_id = s.cust_id 
join shipping.city ci on ci.city_id = s.city_id 
group by cu.cust_name, ci.city_name 
order by cu.cust_name, avg_weight desc