# Сложные объединения 
## Юнит 5. РАБОТА С БАЗАМИ ДАННЫХ. SQL
### Skillfactory: DSPR-19

### 4.1. UNION

**UNION**   
Мы умеем присоединять кортежи друг к другу путем добавления столбцов одного к другому с помощью JOIN.

К любому результату запроса можно присоединить другой запрос «снизу», если у него такая же структура (одинаковое количество столбцов, данные того же типа). Для этого существует операция UNION.

Существует две версии этого оператора: UNION выводит уникальные записи, UNION ALL не делает ограничений уникальности и присоединяет все кортежи последующих таблиц к предыдущим. UNION ALL работает быстрее и более предпочтителен, если вы уверены в уникальности объединяемых выборок или если вам нужны неуникальные данные.

Синтаксис выглядит следующим образом.

In [ ]:
query 1
union all
query 2
union all

...

query n

Результатом выполнения такого запроса будут все кортежи результата выполнения query_1 и все кортежи query_2 , выведенные в единой выдаче.

Давайте посмотрим на примере. Решим следующую задачу: соберем все знакомые нам объекты из БД в одном запросе с типом и именем и упорядочим их по алфавиту.

In [ ]:
SELECT 
 t.table_name object_name,
 'таблица' object_type
FROM 
 information_schema."tables" t
union all
SELECT 
 c.column_name object_name,
 'столбец' object_type
FROM 
 information_schema.columns c
union  all
select 
 s.schema_name,
 'схема' 
from 
 information_schema.schemata s
order by 1

Каждый из объединяемых запросов имеет два столбца: имя и тип. Оба поля текстовые, названия для столбцов берутся из самого первого запроса.

### Задание 4.1.1
Напишите запрос, который создает уникальный алфавитный справочник всех городов, штатов, имен водителей и производителей грузовиков. Результатом запроса должны быть два столбца (название объекта и тип объекта — city, state, driver, truck). Отсортируйте список по названию объекта, а затем по типу.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
SELECT 
        c.city_name object_name,
        'city' object_type
from city c 
union
SELECT 
        c2.state object_name,
        'state' object_type
from city AS c2 
union
SELECT 
        d.first_name object_name,
        'driver' object_type
from driver d
union
SELECT 
        t.make object_name,
        'truck' object_type
from truck t
order by 1, 2