# Основы SQL 
## Юнит 5. РАБОТА С БАЗАМИ ДАННЫХ. SQL
### Skillfactory: DSPR-19

_Работа с Metabase_

### 1.6. Таблицы

### Задание 1.6.2
Напишите запрос, который получает столбцы book_id, book_name, book_average_rating (именно в такой последовательности) из таблицы books.
_(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)_

### Как с помощью SQL получить данные из таблицы?  
Чтобы получить данные из определённой таблицы, в SQL используется ключевое слово FROM. Например, чтобы получить данные из столбцов author, book_name, book_id из таблицы books, нужно написать:

In [ ]:
select author, book_name, book_id
from books

SELECT + FROM
Синтаксис select + from достаточно прост:

select (названия столбцов через запятую) from (название таблицы)

Если же мы хотим получить данные сразу из всех столбцов, нет смысла перечислять их все. Вместо названий столбцов мы просто введем знак *:

In [ ]:
select *
from books

По умолчанию при выводе столбцы называются так же, как в исходной таблице. Для переименования нужно в SELECT после названия столбца из таблицы написать as:

In [ ]:
select author as author_name 
from books

С колонками можно проводить математические операции. Например, если мы хотим к рейтингу каждой книги добавить 3, нужно сделать следующее:

In [ ]:
select book_average_rating, book_average_rating + 3 as rating_plus_three
from books

С числовыми столбцами мы тоже можем проводить математические операции:

In [ ]:
select book_average_rating*book_ratings_count/(book_id + 20.)
from books

#### Что делать в ситуации деления на ноль?
Чтобы СУБД не возвращала ошибку, а просто на место деления на 0 ставила NULL (отсутствие значения), существует функция NULLIF(expr1, expr2). Эта функция при равенстве expr1 и expr2 возвращает NULL, а иначе — expr1. Пример использования:

In [ ]:
select book_id, book_average_rating/NULLIF((book_id - 20.), 0)
from books

### Задание 1.6.2
Напишите запрос, который получает столбцы book_id, book_name, book_average_rating (именно в такой последовательности) из таблицы books.

(Не забывайте перед отправкой кода проверять его работоспособность и соответствие условиям в Metabase!)

In [ ]:
select book_id, book_name, book_average_rating
from books

### Задание 1.6.3
Напишите запрос, который получает все столбцы из таблицы books.

In [ ]:
select *
from books

### Задание 1.7.1
Какие столбцы таблицы books имеют целочисленный тип?

Ответ:  
- book_id
- publishing_year
- book_ratings_count

Для обозначения символьных типов данных используют одинарные кавычки, например, так: SELECT 'Hello, world!' . Двойные кавычки же используют, когда используют название колонок, в котором есть пробелы, либо символы из другого языка, либо когда они конфликтуют с ключевыми словами СУБД. Например:

In [ ]:
select 1 as "SELECT", 'hi' as "Название с пробелом";

### Задание 1.7.2
Сколько столбцов с символьными типами данных (не являющихся числом) содержится в таблице books?  

Ответ: 6

### Задание 1.7.3
Содержатся ли в таблице books столбцы в формате даты и/или времени или в формате bool?

Ответ: нет

#### Различные типы данных можно переводить друг в друга с помощью оператора :

In [ ]:
select 2.13::int; --Перевод real в int
select '2018-3-1'::date; --Перевод строки в дату
select true::int::numeric; --Перевод bool в int, а потом в numeric 
                
select 2 = 3; #false
select 3 < 5; #true
select 'hi' != 'hello'; #true
select 3 >= -23;  #true

select author = book_name as author_book
from books;

#false
#false
#false
#false
...

### 1.8. Кортеж

Для поиска по строкам (кортежам) используется ключевое слово WHERE, после которого перечисляются условия на кортежи данных. Where идёт после ключевого слова FROM. Например:

In [ ]:
select book_name, author
from books 
where author = 'Charlaine Harris';

Условия можно комбинировать друг с другом с помощью скобок, and и or. Например, если мы хотим получить только книги Charlaine Harris с рейтингом выше 3 или количеством оценок больше 1000, мы напишем:

In [ ]:
select * 
from books 
where author = 'Charlaine Harris' 
    and (book_average_rating > 3 or book_ratings_count > 1000);

### Задание 1.8.1
Что произойдет, если мы уберём скобки из описания условия?

Ответ: 
- выведутся все книги автора Charlaine Harris со средним рейтингом больше 3
- выведутся любые книги любых авторов с количеством оценок больше 1000

### Отрицание условия
Кстати, отрицать можно любое условие. Например, чтобы вывести книги с рейтингом меньше 4, можно написать условие where book_average_rating < 4 или where not book_average_rating >= 4.

**Оператор BETWEEN**
Для облегчения написания условий существует оператор BETWEEN. Он указывает интервал, внутри которого должны быть элементы:

**book_average_rating between 3 and 4**

— это то же самое, что и

**book_average_rating >= 3 and book_average_rating <= 4**

Согласитесь, оператор BETWEEN выглядит гораздо понятнее. Здесь стоит обратить внимание на то, что between использует именно >= и  <=, а не > и <!

In [ ]:
select book_id
from books
where book_id between 100 and 500 and book_average_rating between 3.2 and 3.4;

### Задание 1.8.2
Сколько строк выведет запрос выше?  

Ответ: 3

### Оператор NULL
Для проверки на пустые строки существует специальный оператор **NULL**.

С его помощью можно выводить непустые данные с помощью is not null, либо пустые с помощью is null. Например, мы хотим узнать, для каких книг не указан язык в нашей базе данных. Для этого зададим запрос:

In [ ]:
select * 
from books 
where language_code is null;

### Задание 1.8.3
Выведите столбцы book_name и publishing_year для всех книг, у которых рейтинг больше 4.5.

Напомним, что все запросы перед отправкой лучше проверить в Metabase на работоспособность и корректный вывод.

In [ ]:
select book_name, publishing_year 
from books 
where book_average_rating > 4.5

### Задание 1.8.4
Выведите столбцы book_name, publishing_year, author для всех книг, у которых рейтинг больше 4.5 и количество оценок меньше 100000.

In [ ]:
select book_name, publishing_year, author 
from books 
where book_average_rating > 4.5 and book_ratings_count < 100000

### Задание 1.8.5
Выведите все столбцы для книг, у которых значения года публикации не лежат в промежутке от 1950 до 1965 года или у которых пустой год публикации (используйте операторы BETWEEN и IS NULL).

In [ ]:
select *
from books 
where publishing_year is null or (not publishing_year between 1950 and 1965)

### Задание 1.8.6
Выведите все столбцы для книг, у которых (language_code = 'eng' или language_code = 'en-US' и больше 10000 оценок), либо у которых (жанр 'fiction' или год публикации 1957). Скобки в условии указывают порядок действий.

In [ ]:
select *
from books 
where ((language_code = 'eng' or language_code = 'en-US' ) and book_ratings_count > 10000) or (genre = 'fiction' or publishing_year = 1957)

### Задание 1.8.7
Выведите столбцы author и book_id для всех строк, у которых либо ((author_rating Intermediate или Novice) и рейтинг книги >= 4), либо (рейтинг книги > 4.5 и год публикации меньше 1955), либо количество оценок книги больше 3000000.

In [ ]:
select author, book_id
from books 
where ((author_rating = 'Intermediate' or author_rating = 'Novice') and book_average_rating >= 4) or (book_average_rating > 4.5 and publishing_year < 1955) or (book_ratings_count > 3000000)

### 1.9. ORDER BY
По умолчанию сортировка происходит по возрастанию asc, однако можно передать после названия колонки параметр desc, чтобы сортировка происходила по убыванию.

In [ ]:
select author, book_name, publishing_year 
from books 
where publishing_year > 1980 
order by author desc, book_name;

### Задание 1.9.1
Укажите год публикации 10-й книги, полученной последним запросом.

Ответ: 2011

### Упрощение работы с ORDER BY
Для упрощения работы с ORDER BY можно использовать не названия столбцов, а номер столбца в выгружаемых данных. Например:

In [ ]:
select author, book_id
from books
order by 2;

Также в ORDER BY помимо параметра desc/asc можно передавать параметр NULLS FIRST / NULLS LAST, который показывает, в начало списка или в конец ставить пустые значения сортируемой колонки.

In [ ]:
select author, language_code, book_id
from books
where author = 'Ally Condie'
order by author, language_code asc nulls first;

Также можно сортировать данные по тем столбцам, которые не попадают в итоговый запрос. Например, если нам не нужны book_id, но нужен порядок book_id, мы можем написать:

In [ ]:
select author, publishing_year, book_name
from books
order by book_id desc;

Внимание! Сортировку по номеру столбца стоит использовать с осторожностью, поскольку при изменении вывода в SELECT всё может сбиться. При добавлении новых столбцов в SELECT нужно проверить и при необходимости поправить номера столбцов в ORDER BY.

### Задание 1.9.2
Вам нужно вывести все столбцы таблицы books, где publishing_year = 1960, и отсортировать их в порядке убывания по названию книги. Какой запрос вы зададите?

In [ ]:
select *
from books
where publishing_year = 1960
order by book_name desc

### Задание 1.9.3
Теперь выведите столбцы author, book_name для всех строк, где средний рейтинг книги больше 4 и language_code = 'eng', отсортированные по рейтингу книги и по количеству оценок книги.

In [ ]:
select author, book_name
from books
where book_average_rating > 4 and  language_code = 'eng'
order by book_average_rating, book_ratings_count

### 1.10. LIMIT и OFFSET

### Задание 1.10.1
Предположим, вам нужно вывести рейтинг топ-3 книги по оценкам читателей. Какие два ключевых слова вы будете использовать?

Ответ:   
- LIMIT
- ORDER BY

In [ ]:
select book_name, book_average_rating 
from books 
order by book_average_rating desc 
limit 3;

### Задание 1.10.2
Найдите в базе данных название и год издания топ-20 самых старых по году издания книг. Какой запрос вы использовали ? Если года совпадают, сортировка идёт по имени книги.

In [ ]:
select book_name, publishing_year
from books
order by publishing_year, book_name 
limit 20

### Задание 1.10.3
Среди книг с author_rating = 'Intermediate' найдите названия тех, которые занимают в рейтинге книг с 20 по 47 место, и отсортируйте книги по убыванию рейтинга. Укажите запрос ниже.

In [ ]:
select book_name
from books
where author_rating = 'Intermediate' 
order by book_average_rating desc
offset 19 limit 28

### 1.11. Подводим итоги

### Задание 1.11.1
1. Антон Павлович назначил плановую инвентаризацию книг. Было решено начать ее с проверки самых новых книг по году издания. Упорядочив имена авторов этих книг в алфавитном порядке, вы обнаруживаете, что на первом месте значится…  

Ответ: B. A. Paris

In [ ]:
select author, publishing_year
from books
order by publishing_year desc

2. Антон Павлович считает, что покупатели более высоко оценивают классические книги, чем современную литературу. На основании этого предположения он задумал устроить сразу несколько мероприятий. Вам небезразлична судьба магазина, и поэтому вы решаете проверить гипотезу Антона Павловича. Узнайте, в каких годах были выпущены книги с рейтингом выше 4.7?

Ответ: 2014 и 2016

In [ ]:
select publishing_year
from books
where book_average_rating  > 4.7

3. Антон Павлович утверждает, что книги, занимающие 5 последних мест в топ-100 книг по количеству оценок, написаны на английском языке. Неужели он прав?

Ответ: Да

In [ ]:
select book_name, language_code
from books
order by book_ratings_count desc
limit 100

### Задание 1.11.2
Требования увеличиваются с каждым днем. Сегодня с утра пораньше Антон Павлович запросил у вас список авторов и их книг, вышедших в интервале с 1950 по 2000 гг. При этом список не должен включать топ 10 книг по количеству оценок.

Напишите свой запрос к базе данных.

In [ ]:
select author, book_name
from books
where publishing_year between 1950 and 2000
order by book_ratings_count desc
offset 10

Конец модуля